互联网通信安全之 WebRTC 传输安全机制

&#20114;&#32852;&#32593;&#36890;&#20449;&#23433;&#20840;&#20043; WebRTC &#20256;&#36755;&#23433;&#20840;&#26426;&#21046;<br>
<br>
https://ift.tt/Cu4w7iX<br>
<br>
<br>
<br>
<div>
<div>
<div>
<div>
<div>
<p>&#20840;&#31038;&#20250;&#25968;&#23383;&#21270;&#36716;&#22411;&#21152;&#36895;&#21472;&#21152;&#23454;&#26102;&#36890;&#20449;&#25216;&#26415;&#30340;&#34028;&#21187;&#21457;&#23637;&#65292;&#23454;&#26102;&#36890;&#20449;&#24050;&#32463;&#24050;&#32463;&#28183;&#36879;&#21040;&#21508;&#34892;&#21508;&#19994;&#65292;&#25104;&#20026;&#20102;&#20154;&#20204;&#29616;&#20195;&#21270;&#29983;&#27963;&#20013;&#19981;&#21487;&#25110;&#32570;&#30340;&#37325;&#35201;&#20132;&#27969;&#25163;&#27573;&#12290;</p>
<p>&#20854;&#20013;&#65292;WebRTC &#30340;&#20986;&#29616;&#26356;&#26159;&#20351;&#23454;&#26102;&#36890;&#20449;&#25216;&#26415;&#24471;&#20197;&#24191;&#27867;&#24212;&#29992;&#65292;&#23427;&#25552;&#20379;&#20102;&#19968;&#22871;&#20960;&#20046;&#25152;&#26377;&#20027;&#27969;&#27983;&#35272;&#22120;&#37117;&#25903;&#25345;&#30340;&#26631;&#20934; API&#65292;&#35753;&#27983;&#35272;&#22120;&#20043;&#38388;&#26080;&#25554;&#20214;&#21270;&#30340;&#38899;&#35270;&#39057;&#20114;&#36890;&#25104;&#20026;&#21487;&#33021;&#65292;&#22823;&#22823;&#38477;&#20302;&#20102;&#38899;&#35270;&#39057;&#24320;&#21457;&#30340;&#38376;&#27099;&#12290;&#35270;&#39057;&#20250;&#35758;&#12289;&#35270;&#39057;&#25307;&#32856;&#12289;&#36828;&#31243;&#21307;&#30103;&#31561;&#31561;&#38656;&#35201;&#23454;&#26102;&#20114;&#21160;&#30340;&#22330;&#26223;&#20013;&#65292;&#37117;&#21487;&#20197;&#30475;&#21040; WebRTC &#30340;&#36523;&#24433;&#12290;</p>
<p>&#22312; WebRTC &#20013;&#65292;&#20026;&#20102;&#20445;&#35777;&#23186;&#20307;&#20256;&#36755;&#30340;&#23433;&#20840;&#24615;&#65292;&#24341;&#20837;&#20102; DTLS &#21644; SRTP &#26469;&#23545;&#36890;&#20449;&#36807;&#31243;&#36827;&#34892;&#21152;&#23494;&#12290;DTLS &#30340;&#20316;&#29992;&#12289;&#21407;&#29702;&#19982; SSL/TLS &#31867;&#20284;&#65292;&#37117;&#26159;&#20026;&#20102;&#20351;&#36890;&#20449;&#36807;&#31243;&#21464;&#24471;&#26356;&#23433;&#20840;&#12290;</p>
<p>&#26412;&#25991;&#20316;&#20026;<strong>&#20114;&#32852;&#32593;&#36890;&#20449;&#23433;&#20840;&#31995;&#21015;&#25991;</strong>&#30340;&#31532;&#20108;&#31687;&#65292;&#20027;&#35201;&#20998;&#20139;<strong>WebRTC &#20256;&#36755;&#23433;&#20840;&#26426;&#21046;&#65306;DTLS &#21644; SRTP</strong>&#12290;</p>
<h3><strong>&#24120;&#29992;&#21152;&#23494;&#26041;&#27861;</strong></h3>
<h4><strong>&#21152;&#23494;&#25216;&#26415;</strong></h4>
<p><strong>1. &#23545;&#31216;&#21152;&#23494;</strong></p>
<p>&#23545;&#31216;&#21152;&#23494;&#65288;Symmetric Cryptography&#65289;&#65292;&#21448;&#31216;&#31169;&#38053;&#21152;&#23494;&#65292;&#26159;&#26368;&#24555;&#36895;&#12289;&#26368;&#31616;&#21333;&#30340;&#19968;&#31181;&#21152;&#23494;&#26041;&#24335;&#65292;&#21152;&#23494;&#65288;encryption&#65289;&#19982;&#35299;&#23494;&#65288;decryption&#65289;&#29992;&#30340;&#26159;&#21516;&#26679;&#30340;&#23494;&#38053;&#65288;secret key&#65289;&#12290;</p>
<p>&#23545;&#31216;&#21152;&#23494;&#26377;&#24456;&#22810;&#31181;&#31639;&#27861;&#65292;&#30001;&#20110;&#23427;&#25928;&#29575;&#24456;&#39640;&#65292;&#25152;&#20197;&#34987;&#24191;&#27867;&#20351;&#29992;&#22312;&#24456;&#22810;&#21152;&#23494;&#21327;&#35758;&#20013;&#12290;&#23545;&#31216;&#21152;&#23494;&#36890;&#24120;&#20351;&#29992;&#30340;&#26159;&#30456;&#23545;&#36739;&#23567;&#30340;&#23494;&#38053;&#65292;&#19968;&#33324;&#23567;&#20110; 256 bit&#12290;&#23494;&#38053;&#36234;&#22823;&#65292;&#21152;&#23494;&#36234;&#24378;&#65292;&#20294;&#21152;&#23494;&#19982;&#35299;&#23494;&#30340;&#36807;&#31243;&#20063;&#23601;&#36234;&#24930;&#12290;&#23494;&#38053;&#30340;&#22823;&#23567;&#26082;&#35201;&#29031;&#39038;&#21040;&#23433;&#20840;&#24615;&#65292;&#20063;&#35201;&#29031;&#39038;&#21040;&#25928;&#29575;&#12290;</p>
<p><strong>2. &#38750;&#23545;&#31216;&#21152;&#23494;&nbsp;</strong></p>
<p>&#38750;&#23545;&#31216;&#21152;&#23494;&#65288;Asymmetric Cryptography&#65289;&#65292;&#21448;&#31216;&#20844;&#38053;&#21152;&#23494;&#12290;&#23427;&#20351;&#29992;&#20102;&#19968;&#23545;&#23494;&#38053;&#65292;&#20844;&#38053;&#65288;public key&#65289;&#21644;&#31169;&#38053;&#65288;private key&#65289;&#65292;&#20026;&#25968;&#25454;&#30340;&#21152;&#23494;&#19982;&#35299;&#23494;&#25552;&#20379;&#20102;&#19968;&#20010;&#38750;&#24120;&#23433;&#20840;&#30340;&#26041;&#27861;&#12290;</p>
<p>&#31169;&#38053;&#21482;&#33021;&#30001;&#19968;&#26041;&#23433;&#20840;&#20445;&#31649;&#65292;&#19981;&#33021;&#22806;&#27844;&#65292;&#32780;&#20844;&#38053;&#21017;&#21487;&#20197;&#21457;&#32473;&#20219;&#20309;&#35831;&#27714;&#23427;&#30340;&#20154;&#12290;&#38750;&#23545;&#31216;&#21152;&#23494;&#20351;&#29992;&#36825;&#23545;&#23494;&#38053;&#20013;&#30340;&#19968;&#20010;&#36827;&#34892;&#21152;&#23494;&#65292;&#32780;&#35299;&#23494;&#21017;&#38656;&#35201;&#21478;&#19968;&#20010;&#23494;&#38053;&#12290;&#27604;&#22914;&#65292;&#20320;&#21521;&#38134;&#34892;&#35831;&#27714;&#20844;&#38053;&#65292;&#38134;&#34892;&#23558;&#20844;&#38053;&#21457;&#32473;&#20320;&#65292;&#20320;&#20351;&#29992;&#20844;&#38053;&#23545;&#28040;&#24687;&#21152;&#23494;&#65292;&#37027;&#20040;&#21482;&#26377;&#31169;&#38053;&#30340;&#25345;&#26377;&#20154;&mdash;&mdash;&#38134;&#34892;&#25165;&#33021;&#23545;&#20320;&#30340;&#28040;&#24687;&#35299;&#23494;&#12290;&#19982;&#23545;&#31216;&#21152;&#23494;&#19981;&#21516;&#30340;&#26159;&#65292;&#38134;&#34892;&#19981;&#38656;&#35201;&#36890;&#36807;&#32593;&#32476;&#21457;&#36865;&#31169;&#38053;&#65292;&#23433;&#20840;&#24615;&#22823;&#22823;&#25552;&#39640;&#12290;</p>
<p>&#23545;&#31216;&#21152;&#23494;&#21644;&#38750;&#23545;&#31216;&#21152;&#23494;&#30340;&#21306;&#21035;&#65292;&#24635;&#32467;&#22914;&#19979;&#65306;</p>
<p>&#65288;1&#65289;&#23545;&#31216;&#21152;&#23494;&#30340;&#21152;&#23494;&#19982;&#35299;&#23494;&#20351;&#29992;&#30340;&#26159;&#21516;&#26679;&#30340;&#23494;&#38053;&#65292;&#25152;&#20197;&#36895;&#24230;&#24555;&#65292;&#20294;&#30001;&#20110;&#38656;&#35201;&#23558;&#23494;&#38053;&#22312;&#32593;&#32476;&#20256;&#36755;&#65292;&#25152;&#20197;&#23433;&#20840;&#24615;&#19981;&#39640;&#12290;</p>
<p>&#65288;2&#65289;&#38750;&#23545;&#31216;&#21152;&#23494;&#20351;&#29992;&#20102;&#19968;&#23545;&#23494;&#38053;&#65292;&#20844;&#38053;&#19982;&#31169;&#38053;&#65292;&#25152;&#20197;&#23433;&#20840;&#24615;&#39640;&#65292;&#20294;&#21152;&#23494;&#19982;&#35299;&#23494;&#36895;&#24230;&#24930;&#12290;</p>
<p>&#65288;3&#65289;&#35299;&#20915;&#26041;&#26696;&#26159;&#23558;&#23545;&#31216;&#21152;&#23494;&#30340;&#23494;&#38053;&#20351;&#29992;&#38750;&#23545;&#31216;&#21152;&#23494;&#30340;&#20844;&#38053;&#36827;&#34892;&#21152;&#23494;&#65292;&#28982;&#21518;&#21457;&#36865;&#20986;&#21435;&#65292;&#25509;&#25910;&#26041;&#20351;&#29992;&#31169;&#38053;&#36827;&#34892;&#35299;&#23494;&#24471;&#21040;&#23545;&#31216;&#21152;&#23494;&#30340;&#23494;&#38053;&#65292;&#28982;&#21518;&#21452;&#26041;&#21487;&#20197;&#20351;&#29992;&#23545;&#31216;&#21152;&#23494;&#26469;&#36827;&#34892;&#27807;&#36890;&#12290;</p>
<h4><strong>&#25968;&#23383;&#31614;&#21517;</strong></h4>
<p>&#25968;&#23383;&#31614;&#21517;&#26159;&#38468;&#21152;&#22312;&#25253;&#25991;&#19978;&#30340;&#29305;&#27530;&#21152;&#23494;&#26657;&#39564;&#30721;&#65292;&#21363;&#25152;&#35859;&#30340;&#26657;&#39564;&#21644;&#65292;&#21033;&#29992;&#20102;&#38750;&#23545;&#31216;&#21152;&#23494;&#23494;&#38053;&#21152;&#23494;&#25216;&#26415;&#12290;</p>
<p>&#25968;&#23383;&#31614;&#21517;&#30340;&#20027;&#35201;&#20316;&#29992;&#26159;&#38450;&#27490;&#25253;&#25991;&#34987;&#31713;&#25913;&#65292;&#19968;&#26086;&#25253;&#25991;&#34987;&#25915;&#20987;&#32773;&#31713;&#25913;&#65292;&#36890;&#36807;&#23558;&#20854;&#19982;&#26657;&#39564;&#21644;&#36827;&#34892;&#21305;&#37197;&#65292;&#21487;&#20197;&#31435;&#21051;&#34987;&#25509;&#25910;&#32773;&#21457;&#29616;&#12290;&#25968;&#23383;&#31614;&#21517;&#30340;&#36807;&#31243;&#22914;&#19979;&#22270;&#25152;&#31034;&#65306;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101240.jpg" class="wp-image-7477">
<figcaption>&#65288;&#25968;&#23383;&#31614;&#21517;&#30340;&#36807;&#31243;&#65289;</figcaption>
</figure>
</div>
<p>&#21457;&#36865;&#32773; A &#23558;&#25253;&#25991;&#25688;&#35201;&#65288;&#25253;&#25991;&#36890;&#36807; SHA-1 &#31561;&#21704;&#24076;&#31639;&#27861;&#29983;&#25104;&#25688;&#35201;&#65289;&#36890;&#36807;&#31169;&#26377;&#23494;&#38053;&#21152;&#23494;&#29983;&#25104;&#31614;&#21517;&#65292;&#19982;&#26126;&#25991;&#25253;&#25991;&#19968;&#36215;&#21457;&#32473;&#25509;&#25910;&#32773; B&#65292;&#25509;&#25910;&#32773; B &#36890;&#36807;&#23545;&#25910;&#21040;&#30340;&#20449;&#24687;&#36827;&#34892;&#35745;&#31639;&#21518;&#24471;&#21040;&#20004;&#20221;&#25253;&#25991;&#25688;&#35201;&#65292;&#27604;&#36739;&#36825;&#20004;&#20221;&#25253;&#25991;&#25688;&#35201;&#26159;&#21542;&#30456;&#31561;&#21487;&#20197;&#39564;&#35777;&#25253;&#25991;&#26159;&#21542;&#34987;&#31713;&#25913;&#65292;&#21363;&#65306;</p>
<p>&#65288;1&#65289;&#26126;&#25991;&#25253;&#25991;&#36890;&#36807;&#20351;&#29992;&#19982;&#21457;&#36865;&#31471;&#30456;&#21516;&#30340;&#21704;&#24076;&#31639;&#27861;&#29983;&#25104;&#25688;&#35201; 1&#65307;</p>
<p>&#65288;2&#65289;&#31614;&#21517;&#36890;&#36807;&#20844;&#24320;&#23494;&#38053;&#35299;&#23494;&#21518;&#29983;&#25104;&#25688;&#35201; 2&#12290;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101243-1024x463.jpg" class="wp-image-7478">
<figcaption>&#65288;&#25968;&#23383;&#31614;&#21517;&#30340;&#36807;&#31243;&#65289;</figcaption>
</figure>
</div>
<h4><strong>&#25968;&#23383;&#35777;&#20070;</strong></h4>
<p>&#25968;&#23383;&#35777;&#20070;&#26159;&#30001;&#19968;&#20123;&#20844;&#35748;&#21487;&#20449;&#30340;&#35777;&#20070;&#39041;&#21457;&#26426;&#26500;&#31614;&#21457;&#30340;&#65292;&#19981;&#26131;&#20266;&#36896;&#12290;&#21253;&#25324;&#22914;&#19979;&#20869;&#23481;&#65306;</p>
<ul>
<li>&#35777;&#20070;&#24207;&#21015;&#21495;</li>
<li>&#35777;&#20070;&#31614;&#21517;&#31639;&#27861;</li>
<li>&#35777;&#20070;&#39041;&#21457;&#32773;</li>
<li>&#26377;&#25928;&#26399;</li>
<li>&#20844;&#24320;&#23494;&#38053;</li>
<li>&#35777;&#20070;&#31614;&#21457;&#26426;&#26500;&#30340;&#25968;&#23383;&#31614;&#21517;</li>
</ul>
<p>&#25968;&#23383;&#35777;&#20070;&#21487;&#20197;&#29992;&#20110;&#25509;&#25910;&#32773;&#39564;&#35777;&#23545;&#31471;&#30340;&#36523;&#20221;&#12290;&#25509;&#25910;&#32773;&#65288;&#20363;&#22914;&#27983;&#35272;&#22120;&#65289;&#25910;&#21040;&#26576;&#20010;&#23545;&#31471;&#65288;&#20363;&#22914; Web &#26381;&#21153;&#22120;&#65289;&#30340;&#35777;&#20070;&#26102;&#65292;&#20250;&#23545;&#31614;&#21517;&#39041;&#21457;&#26426;&#26500;&#30340;&#25968;&#23383;&#31614;&#21517;&#36827;&#34892;&#26816;&#26597;&#65292;&#19968;&#33324;&#26469;&#35828;&#65292;&#25509;&#25910;&#32773;&#20107;&#20808;&#23601;&#20250;&#39044;&#20808;&#23433;&#35013;&#24456;&#22810;&#24120;&#29992;&#30340;&#31614;&#21517;&#39041;&#21457;&#26426;&#26500;&#30340;&#35777;&#20070;&#65288;&#21547;&#26377;&#20844;&#24320;&#23494;&#38053;&#65289;&#65292;&#21033;&#29992;&#39044;&#20808;&#30340;&#20844;&#24320;&#23494;&#38053;&#21487;&#20197;&#23545;&#31614;&#21517;&#36827;&#34892;&#39564;&#35777;&#12290;</p>
<h3><strong>DTLS &#21327;&#35758;</strong></h3>
<p>DTLS&#65288;Datagram Transport Level Security&#65292;&#25968;&#25454;&#25253;&#23433;&#20840;&#21327;&#35758;&#65289;&#65292;&#22522;&#20110; UDP &#22330;&#26223;&#19979;&#25968;&#25454;&#21253;&#21487;&#33021;&#20002;&#22833;&#25110;&#37325;&#26032;&#25490;&#24207;&#30340;&#29616;&#23454;&#24773;&#20917;&#65292;&#20026; UDP &#23450;&#21046;&#21644;&#25913;&#36827;&#30340; TLS &#21327;&#35758;&#12290;DTLS &nbsp;&#25552;&#20379;&#20102; UDP &#20256;&#36755;&#22330;&#26223;&#19979;&#30340;&#23433;&#20840;&#35299;&#20915;&#26041;&#26696;&#65292;&#33021;&#38450;&#27490;&#28040;&#24687;&#34987;&#31363;&#21548;&#12289;&#31713;&#25913;&#12289;&#36523;&#20221;&#20882;&#20805;&#31561;&#38382;&#39064;&#12290;&#22312; WebRTC &#20013;&#20351;&#29992; DTLS &#30340;&#22320;&#26041;&#21253;&#25324;&#20004;&#37096;&#20998;&#65306;&#21327;&#21830;&#21644;&#31649;&#29702; [SRTP]() &#23494;&#38053;&#21644;&#20026; [DataChannel]() &#25552;&#20379;&#21152;&#23494;&#36890;&#36947;&#12290;</p>
<p>DTLS &#21327;&#35758;&#33021;&#22815;&#20570;&#21040;&#20197;&#19979;&#20960;&#28857;&#65306;</p>
<ul>
<li>&#25152;&#26377;&#20449;&#24687;&#36890;&#36807;&#21152;&#23494;&#20256;&#25773;&#65292;&#31532;&#19977;&#26041;&#26080;&#27861;&#31363;&#21548;&#65307;</li>
<li>&#20855;&#26377;&#25968;&#25454;&#31614;&#21517;&#21450;&#26657;&#39564;&#26426;&#21046;&#65292;&#19968;&#26086;&#34987;&#31713;&#25913;&#65292;&#36890;&#20449;&#21452;&#26041;&#31435;&#21051;&#21487;&#20197;&#21457;&#29616;&#65307;</li>
<li>&#20855;&#26377;&#36523;&#20221;&#35777;&#20070;&#65292;&#38450;&#27490;&#20854;&#20182;&#20154;&#20882;&#20805;&#12290;</li>
</ul>
<h4><strong>&#21327;&#35758;&#26632;</strong></h4>
<p>&#22312; WebRTC &#20013;&#65292;&#36890;&#36807;&#24341;&#20837; DTLS &#23545; RTP &#36827;&#34892;&#21152;&#23494;&#65292;&#20351;&#24471;&#23186;&#20307;&#36890;&#20449;&#21464;&#24471;&#23433;&#20840;&#12290;&#36890;&#36807; DTLS &#21327;&#21830;&#20986;&#21152;&#23494;&#23494;&#38053;&#20043;&#21518;&#65292;RTP &#20063;&#38656;&#35201;&#21319;&#32423;&#20026; SRTP&#65292;&#36890;&#36807;&#23494;&#38053;&#21152;&#23494;&#21518;&#36827;&#34892;&#36890;&#20449;&#12290;&#21327;&#35758;&#26632;&#22914;&#19979;&#22270;&#25152;&#31034;&#65306;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101247.jpg" class="wp-image-7479">
<figcaption>&#65288;DTLS&nbsp;&#21327;&#35758;&#26632;&#65289;</figcaption>
</figure>
</div>
<p>DTLS &#25569;&#25163;&#21327;&#35758;&#27969;&#31243;&#22914;&#19979;&#65292;&#65288;&#21442;&#32771; RFC6347&#65289;&#12290;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101249-1024x657.jpg" class="wp-image-7480">
<figcaption>&#65288;DTLS &#25569;&#25163;&#21327;&#35758;&#27969;&#31243;&#65289;</figcaption>
</figure>
</div>
<p>TLS &#21644; DTLS &#30340;&#25569;&#25163;&#36807;&#31243;&#22522;&#26412;&#19978;&#26159;&#19968;&#33268;&#30340;&#65292;&#24046;&#21035;&#20197;&#21450;&#29305;&#21035;&#35828;&#26126;&#22914;&#19979;&#65306;</p>
<ul>
<li>DTLS &#20013; HelloVerifyRequest &#26159;&#20026;&#38450;&#27490; DoS &#25915;&#20987;&#22686;&#21152;&#30340;&#28040;&#24687;&#12290;</li>
<li>TLS &#27809;&#26377;&#21457;&#36865; CertificateRequest&#65292;&#36825;&#20010;&#20063;&#19981;&#26159;&#24517;&#39035;&#30340;&#65292;&#26159;&#21453;&#21521;&#39564;&#35777;&#21363;&#26381;&#21153;&#22120;&#39564;&#35777;&#23458;&#25143;&#31471;&#12290;</li>
<li>DTLS &#30340; RecordLayer &#26032;&#22686;&#20102;Epoch&#21644; SequenceNumber&#65307;ClientHello &#20013;&#26032;&#22686;&#20102; Cookie&#65307;Handshake &#20013;&#26032;&#22686;&#20102; Fragment &#20449;&#24687;&#65288;&#38450;&#27490;&#36229;&#36807; UDP &#30340; MTU&#65289;&#65292;&#37117;&#26159;&#20026;&#20102;&#36866;&#24212; UDP &#30340;&#20002;&#21253;&#20197;&#21450;&#23481;&#26131;&#34987;&#25915;&#20987;&#20570;&#30340;&#25913;&#36827;&#12290;&#65288;&#21442;&#32771; RFC 6347&#65289;</li>
<li>DTLS &#26368;&#21518;&#30340; Alert &#26159;&#23558;&#23458;&#25143;&#31471;&#30340; Encrypted Alert &#28040;&#24687;&#65292;&#35299;&#23494;&#20043;&#21518;&#30452;&#25509;&#21709;&#24212;&#32473;&#23458;&#25143;&#31471;&#30340;&#65292;&#23454;&#38469;&#19978; Server &#24212;&#35813;&#22238;&#24212;&#21152;&#23494;&#30340;&#28040;&#24687;&#65292;&#36825;&#37324;&#25105;&#20204;&#30340;&#26381;&#21153;&#22120;&#22238;&#24212;&#26126;&#25991;&#26159;&#20026;&#20102;&#35299;&#26512;&#23458;&#25143;&#31471;&#21152;&#23494;&#30340;&#37027;&#20010; Alert &#21253;&#26159;&#20160;&#20040;&#12290;</li>
</ul>
<p>RecordLayer &#21327;&#35758;&#26159;&#21644; DTLS &#20256;&#36755;&#30456;&#20851;&#30340;&#21327;&#35758;&#65292;UDP &#19978;&#26159; RecordLayer&#65292;RecordLayer &#19978;&#26159; Handshake &#25110; ChangeCipherSpec &#25110; ApplicationData&#12290;</p>
<p>RecordLayer &#21327;&#35758;&#23450;&#20041;&#21442;&#32771; RFC4347&#65292;&#23454;&#38469;&#19978;&#26377;&#19977;&#31181; RecordLayer &#30340;&#21253;:</p>
<ul>
<li>DTLSPlaintext&#65292;DTLS &#26126;&#25991;&#30340; RecordLayer&#12290;</li>
<li>DTLSCompressed&#65292;&#21387;&#32553;&#30340;&#25968;&#25454;&#65292;&#19968;&#33324;&#19981;&#29992;&#12290;</li>
<li>DTLSCiphertext&#65292;&#21152;&#23494;&#25968;&#25454;&#65292;&#22312; ChangeCipherSpec &#20043;&#21518;&#23601;&#26159;&#36825;&#31181;&#20102;&#12290;</li>
</ul>
<p>&#27809;&#26377;&#26126;&#30830;&#30340;&#23383;&#27573;&#35828;&#26126;&#26159;&#21738;&#31181;&#28040;&#24687;&#65292;&#19981;&#36807;&#21487;&#20197;&#26681;&#25454;&#19978;&#19979;&#25991;&#20197;&#21450;&#20869;&#23481;&#21028;&#26029;&#12290;&#27604;&#22914; ChangeCipherSpec &#26159;&#21487;&#20197;&#36890;&#36807;&#31867;&#22411;&#65292;&#23427;&#32943;&#23450;&#26159;&#19968;&#20010; Plaintext&#12290;&#38500;&#20102; Finished &#30340;&#20854;&#20182;&#25569;&#25163;&#65292;&#19968;&#33324;&#37117;&#26159; Plaintext&#12290;</p>
<h3><strong>SRTP &#23494;&#38053;&#21327;&#21830;</strong></h3>
<h4><strong>&#35282;&#33394;&#21327;&#21830;</strong></h4>
<p>&#22312; DTLS &#21327;&#35758;&#65292;&#36890;&#20449;&#30340;&#21452;&#26041;&#26377; Client &#21644; Server &#20043;&#20998;&#12290;&#22312; WebRTC &#20013; DTLS &#21327;&#21830;&#30340;&#36523;&#20221;&#26159;&#22312; SDP &#20013;&#25551;&#36848;&#30340;&#12290;</p>
<p>&#25551;&#36848;&#22914;&#19979;&#65292;&#21442;&#32771; SDP-Anatomy &#20013; DTLS &#21442;&#25968;&nbsp;</p>
<p>a=setup:active</p>
<p>setup &#23646;&#24615;&#22312; RFC4145</p>
<p>setup:active&#65292;&#20316;&#20026; client&#65292;&#20027;&#21160;&#21457;&#36215;&#21327;&#21830;</p>
<p>setup:passive, &#20316;&#20026; sever&#65292;&#31561;&#24453;&#21457;&#36215;&#21327;&#21830;</p>
<p>setup:actpass, &#20316;&#20026; client&#65292;&#20027;&#21160;&#21457;&#36215;&#21327;&#21830;&#12290;&#20316;&#20026; server&#65292;&#31561;&#24453;&#21457;&#36215;&#21327;&#21830;&#12290;</p>
<h4><strong>&#33258;&#31614;&#35777;&#21517;&#35777;&#20070;</strong></h4>
<p>&#22312; WebRTC &#20013;&#65292;&#36890;&#20449;&#30340;&#21452;&#26041;&#36890;&#24120;&#23558;&#26080;&#27861;&#33719;&#24471;&#30001;&#30693;&#21517;&#26681;&#35777;&#20070;&#39041;&#21457;&#26426;&#26500; (CA) &#31614;&#21517;&#30340;&#36523;&#20221;&#39564;&#35777;&#35777;&#20070;&#65292;&#33258;&#31614;&#21517;&#35777;&#20070;&#36890;&#24120;&#26159;&#21807;&#19968;&#30340;&#36873;&#25321;&#12290;</p>
<p>&#22312;&#23454;&#38469;&#30340;&#24212;&#29992;&#22330;&#26223;&#20013;&#65292;SDP &#26159;&#22312;&#23433;&#20840;&#30340;&#20449;&#20196;&#36890;&#36947; (https) &#23436;&#25104;&#20132;&#25442;&#30340;&#65292;SDP &#30340;&#23433;&#20840;&#23436;&#25972;&#26159;&#21487;&#20197;&#20570;&#21040;&#30340;&#12290;RFC4572 &#23450;&#20041;&#19968;&#31181;&#26426;&#21046;&#65292;&#36890;&#36807;&#22312; SDP &#20013;&#22686;&#21152;&#33258;&#31614;&#21517;&#35777;&#20070;&#30340;&#23433;&#20840;&#21704;&#24076;&#65292;&#31216;&#20026;&ldquo;&#35777;&#20070;&#25351;&#32441;&rdquo;&#12290;</p>
<p>&#35777;&#20070;&#25351;&#32441;&#22312; SDP &#20013;&#30340;&#25551;&#36848;&#22914;&#19979;&#65292;&#21442;&#32771; SDP-Anatomy &#20013; DTLS &#21442;&#25968;</p>
<p>a=fingerprint:sha-256 49:66:12:17:0D:1C:91:AE:57:4C:C6:36:DD:D5:97:D2:7D:62:C9:9A:7F:B9:A3:F4:70:03:E7:43:91:73:23:5&#12290;</p>
<p>&#20351;&#29992;&#35777;&#20070;&#25351;&#32441;&#65292;&#23436;&#25104;&#36890;&#20449;&#21452;&#26041;&#30340;&#36523;&#20221;&#39564;&#35777;&#12290;</p>
<h4><strong>&#31639;&#27861;&#21327;&#21830; &ndash; Hello &#28040;&#24687;</strong></h4>
<p>ClienHello &#21644; ServerHello &#21327;&#21830; DTLS &#30340; Version&#12289;CipherSuites&#12289;Random&#12289;Extensions&#12290;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101251-1024x73.png" class="wp-image-7481">
<figcaption>&#65288;ClienHello &#28040;&#24687;&#65289;</figcaption>
</figure>
</div>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101255-1024x428.jpg" class="wp-image-7482">
<figcaption>&#65288;ServerHello &#28040;&#24687;&#65289;</figcaption>
</figure>
</div>
<ul>
<li>Version&#65306;Client &#32473;&#20986;&#33258;&#24049;&#33021;&#25903;&#25345;&#30340;&#25110;&#32773;&#35201;&#20351;&#29992;&#30340;&#26368;&#39640;&#29256;&#26412;&#65292;&#27604;&#22914; DTLS1.2&#12290;Server &#25910;&#21040;&#36825;&#20010;&#20449;&#24687;&#21518;&#65292;&#26681;&#25454;&#33258;&#24049;&#33021;&#25903;&#25345;&#30340;&#25110;&#32773;&#35201;&#20351;&#29992;&#30340;&#29256;&#26412;&#22238;&#24212;&#65292;&#27604;&#22914; DTLS1.0&#12290;&#26368;&#32456;&#20197;&#21327;&#21830;&#30340;&#29256;&#26412;&#20063;&#23601;&#26159; DTLS1.0 &#20026;&#20934;&#12290;</li>
<li>CipherSuites&#65306;Client &#32473;&#20986;&#33258;&#24049;&#33021;&#25903;&#25345;&#30340;&#21152;&#23494;&#22871;&#20214; CipherSuites&#65292;Server &#25910;&#21040;&#21518;&#36873;&#25321;&#33258;&#24049;&#33021;&#25903;&#25345;&#30340;&#22238;&#24212;&#19968;&#20010;&#65292;&#27604;&#22914; TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA (0xc014)&#65292;&#21152;&#23494;&#22871;&#20214;&#30830;&#23450;&#20102;&#35777;&#20070;&#30340;&#31867;&#22411;&#12289;&#23494;&#38053;&#29983;&#25104;&#31639;&#27861;&#12289;&#25688;&#35201;&#31639;&#27861;&#31561;&#12290;</li>
<li>Random&#65306;&#21452;&#26041;&#30340;&#38543;&#26426;&#25968;&#65292;&#21442;&#19982;&#21040;&#29983;&#25104; MasterSecret&#12290;MasterSecret &#20250;&#29992;&#26469;&#29983;&#25104;&#20027;&#23494;&#38053;&#65292;&#23548;&#20986; SRTP &#23494;&#38053;&#12290;&#65288;&#35814;&#35265; &#12304;&#23548;&#20986; SRTP &#23494;&#38053;&#12305;&#37096;&#20998;&#65289;</li>
<li>Extensions&#65306;Client &#32473;&#20986;&#33258;&#24049;&#35201;&#20351;&#29992;&#30340;&#25193;&#23637;&#21327;&#35758;&#65292;Server &#21487;&#20197;&#22238;&#24212;&#33258;&#24049;&#25903;&#25345;&#30340;&#12290;&#27604;&#22914; Client &#34429;&#28982;&#35774;&#32622;&#20102; SessionTicket TLS &#36825;&#20010;&#25193;&#23637;&#65292;&#20294;&#26159; Server &#27809;&#26377;&#22238;&#24212;&#65292;&#25152;&#20197;&#26368;&#32456;&#24182;&#19981;&#20250;&#20351;&#29992;&#36825;&#20010;&#25193;&#23637;&#12290;</li>
</ul>
<h4><strong>Cipher Suites</strong></h4>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101259-1024x641.jpg" class="wp-image-7483">
<figcaption>&#65288;Cipher Suites&#65289;</figcaption>
</figure>
</div>
<p>&#22312; Hello &#28040;&#24687;&#20013;&#21152;&#23494;&#22871;&#25509;&#23383;&#20351;&#29992; IANA &#20013;&#30340;&#27880;&#20876;&#30340;&#21517;&#23383;&#12290;</p>
<p>IANA &#21517;&#23383;&#30001; Protocol/Key Exchange Algorithm/ Authentication Algorithm/</p>
<p>Encryption Algorithm/Hash Algorithm &#30340;&#25551;&#36848;&#32452;&#25104;&#12290;</p>
<p>&#20363;&#22914;&#65306;</p>
<p>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 &#30340;&#21547;&#20041;&#22914;&#19979;&#65306;</p>
<ul>
<li>Protocol: Transport Layer Security (TLS)</li>
<li>Key Exchange: Elliptic Curve Diffie-Hellman Ephemeral (ECDHE)</li>
<li>Authentication: Rivest Shamir Adleman algorithm (RSA)</li>
<li>Encryption: Advanced Encryption Standard with 128bit key in Galois/Counter mode (AES 128 GCM)</li>
<li>Hash: Secure Hash Algorithm 256 (SHA256)</li>
</ul>
<h4><strong>Extension</strong></h4>
<p>DTLS &#30340;&#25193;&#23637;&#21327;&#35758;&#65292;&#26159;&#22312; ClientHello &#21644; ServerHello &#30340; Extensions &#20449;&#24687;&#20013;&#25351;&#23450;&#30340;&#65292;&#25152;&#26377;&#30340; TLS &#25193;&#23637;&#21442;&#32771; TLS Extensions&#12290;</p>
<p>&#19979;&#38754;&#21015;&#20986; WebRTC &#29992;&#21040;&#30340;&#25193;&#23637;&#65306;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101302-1024x208.jpg" class="wp-image-7484">
<figcaption>&#65288;WebRTC &#29992;&#21040;&#30340;&#25193;&#23637;&#65289;</figcaption>
</figure>
</div>
<p>use_srtp: DTLS &#25569;&#25163;&#23436;&#25104;&#21518; (Finished)&#65292;&#20351;&#29992; SRTP &#20256;&#36755;&#25968;&#25454;&#65292;DTLS &#29983;&#25104; SRTP &#30340;&#23494;&#38053;&#12290;&nbsp;</p>
<p>ClientHello &#20013;&#30340;&#25193;&#23637;&#20449;&#24687;&#23450;&#20041;&#20102; RFC5764 4.1.2. SRTP Protection Profiles &#21644; srtp_mki&#12290;</p>
<h4><strong>&#36523;&#20221;&#39564;&#35777;</strong></h4>
<p>&#20351;&#29992;&#35777;&#20070;&#25351;&#32441;&#65292;&#23436;&#25104;&#36890;&#20449;&#21452;&#26041;&#30340;&#36523;&#20221;&#39564;&#35777;&#12290;&#35814;&#35265;&#12304;&#33258;&#31614;&#35777;&#21517;&#35777;&#20070;&#12305;&#37096;&#20998;&#12290;</p>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412102102-1024x306.jpg" class="wp-image-7485">
<figcaption>&#65288;&#36523;&#20221;&#39564;&#35777;&#65289;</figcaption>
</figure>
</div>
<h4><strong>&#23494;&#38053;&#20132;&#25442;</strong></h4>
<p><strong>Server&nbsp;Key&nbsp;Exchange&nbsp;</strong>&#29992;&#26469;&#23558; Server &#31471;&#20351;&#29992;&#30340;&#20844;&#38053;&#65292;&#21457;&#36865;&#32473; Client &#31471;&#12290;&#20998;&#20026;&#20004;&#31181;&#24773;&#20917;&#65306;</p>
<ul>
<li>RSA &#31639;&#27861;&#65306;&#22914;&#26524;&#26381;&#21153;&#31471;&#20351;&#29992;&#30340;&#26159; RSA &#31639;&#27861;&#65292;&#21487;&#20197;&#19981;&#21457;&#36865;&#36825;&#20010;&#28040;&#24687;&#65292;&#22240;&#20026; RSA &#31639;&#27861;&#20351;&#29992;&#30340;&#20844;&#38053;&#24050;&#32463;&#22312; Certificate &#20013;&#25551;&#36848;&#12290;</li>
<li>DH &#31639;&#27861;&#65292;&#26159;&#26681;&#25454;&#23545;&#26041;&#30340;&#20844;&#38053;&#21644;&#33258;&#24049;&#31169;&#38053;&#35745;&#31639;&#20849;&#20139;&#23494;&#38053;&#12290;&#22240;&#20026; Client &#21644; Server &#37117;&#21482;&#30693;&#36947;&#33258;&#24049;&#30340;&#31169;&#38053;&#65292;&#21644;&#23545;&#26041;&#30340;&#20844;&#38053;&#65307;&#32780;&#20182;&#20204;&#30340;&#31169;&#38053;&#37117;&#19981;&#21516;&#65292;&#26681;&#25454;&#29305;&#27530;&#30340;&#25968;&#23398;&#29305;&#24615;&#65292;&#20182;&#20204;&#33021;&#35745;&#31639;&#20986;&#21516;&#26679;&#30340;&#20849;&#20139;&#23494;&#38053;&#12290;</li>
</ul>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412102106-1024x472.jpg" class="wp-image-7486">
<figcaption>&#65288;Server&nbsp;Key&nbsp;Exchange&#65289;</figcaption>
</figure>
</div>
<p><strong>Client&nbsp;Key&nbsp;Exchange&nbsp;</strong>&#29992;&#26469;&#23558; Client &#20351;&#29992;&#30340;&#20844;&#38053;&#65292;&#21457;&#36865;&#32473; Server &#31471;&#12290;</p>
<ul>
<li>RSA &#31639;&#27861;&#65306;&#22914;&#26524;&#23494;&#38053;&#21327;&#21830;&#20351;&#29992;&#30340; RSA &#31639;&#27861;&#65292;&#21457;&#36865;&#20351;&#29992; server &#31471; RSA &#20844;&#38053;&#65292;&#23545; premaster secret &#21152;&#23494;&#21457;&#36865;&#32473; server &#31471;&#12290;</li>
<li>DH &#31639;&#27861;&#65306;&#22914;&#26524;&#23494;&#38053;&#21327;&#21830;&#20351;&#29992; DH &#31639;&#27861;&#65292;&#24182;&#19988;&#22312;&#35777;&#20070;&#20013;&#27809;&#26377;&#25551;&#36848;&#65292;&#22312;&#23558;&#23458;&#25143;&#31471;&#20351;&#29992;&#30340; DH &#31639;&#27861;&#20844;&#38053;&#21457;&#36865;&#32473; Server &#31471;&#65292;&#20197;&#20415;&#35745;&#31639;&#20986;&#20849;&#20139;&#23494;&#38053;&#12290;KeyExchange &#30340;&#32467;&#26524;&#26159;&#65292;Client &#21644; Server &#33719;&#21462;&#21040;&#20102; RSA Key&#65292;&#25110;&#36890;&#36807; DH &#31639;&#27861;&#35745;&#31639;&#20986;&#20849;&#20139;&#23494;&#38053;&#12290;&#35814;&#35265; &#12304;&#23548;&#20986; SRTP &#23494;&#38053;&#27493;&#39588;&#31034;&#20363;&#12305;&#30340;&#36807;&#31243;&#12290;</li>
</ul>
<div class="wp-block-image">
<figure><img src="https://www.rongcloud.cn/blog/wp-content/uploads/2022/04/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220412101901-1024x400.jpg" class="wp-image-7487">
<figcaption>&#65288;Client&nbsp;Key&nbsp;Exchange&#65289;</figcaption>
</figure>
</div>
<h4><strong>&#23548;&#20986; SRTP &#23494;&#38053;&#27493;&#39588;&#31034;&#20363;</strong></h4>
<p>&#19978;&#38754;&#20171;&#32461;&#20102; DTLS &#30340;&#36807;&#31243;&#65292;&#20197;&#19979;&#36890;&#36807;&#32467;&#21512;&#19978;&#38754;&#20363;&#23376;&#32473;&#20986;&#30340;&#23454;&#38469;&#25968;&#25454;&#65292;&#31616;&#21333;&#35828;&#26126; SRTP &#23494;&#38053;&#30340;&#23548;&#20986;&#27493;&#39588;&#12290;</p>
<p>&#21327;&#21830;&#30340;&#21152;&#23494;&#22871;&#20214;&#65306;</p>
<p>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</p>
<p>KeyExchange&#20132;&#25442;&#30340;&#31639;&#27861;&#20844;&#38053;&#65306;</p>
<p>ECDH Server Parameter</p>
<p>Pubkey:04b0ce3c5f2c4a9fbe7c2257c1328438f3378f74e9f528b6e27a00b44eee4c19e5e6b2cb6cab09f796bcf8c05102b2a4bcdc753d91cc4f431f558c845a1ba6f1ce</p>
<p>&#21629;&#21517;&#20026;&nbsp;Spk;</p>
<p>ECDH Client Paramter</p>
<p>PubKey:0454e8fbef1503109d619c39be0ccaf89efa3c3962300476465cbc66b15152cd8a900c45d506420f0123e65d8fbb70cb60b497893f81c5c2a0ef2f4bc2da996d9e</p>
<p>&#35760;&#20026; Cpk;</p>
<p>&#26681;&#25454; ECDHE &#31639;&#27861;&#35745;&#31639;&#20849;&#20139;&#23494;&#38053; S(pre-master-secret)</p>
<p>&#20551;&#35774; Server &#30340;&#20351;&#29992;&#30340;&#26925;&#22278;&#26354;&#32447;&#31169;&#38053;&#20026; Ds, Client &#20351;&#29992;&#30340; Dc&#65292;&#35745;&#31639;&#20849;&#20139;&#23494;&#38053;&#30340;&#22914;&#19979;&#65292;&#21442;&#32771; ECC &#26925;&#22278;&#26354;&#32447;&#21152;&#23494;&#31639;&#27861; &ndash; ECDH,ECDHE,ECDSA</p>
<p>S = Ds * Cpk = Dc * Spk</p>
<p>&#36825;&#20010;&#20849;&#20139;&#23494;&#38053; S &#23601;&#26159;&#25105;&#20204;&#22312; RFC &#25991;&#26723;&#20013;&#30475;&#21040;&#30340; pre-master-secret</p>
<h4><strong>&#35745;&#31639; master secret</strong></h4>
<p>&#35745;&#31639; master secret &#36807;&#31243;&#22914;&#19979;&#65292;&#21487;&#21442;&#32771; Computing the Master Secret&#12290;</p>
<p>master_secret=PRF(pre_master_secret,&rdquo;master secret&rdquo;,ClientHello.random+ ServerHello.random)[0..47];</p>
<p>&#35745;&#31639;&#20986;&#26469;&#30340; master_secret &#20026; 48 Bytes&#65292;&#20854;&#20013; ClientHello.random &#21644; ServerHello.random &#22312; Hello &#28040;&#24687;&#20013;&#32473;&#20986;&#12290;PRF &#26159;&#20266;&#38543;&#26426;&#25968;&#20989;&#25968; (pseudorandom function)&#65292;&#22312;&#21327;&#21830;&#30340;&#21152;&#23494;&#22871;&#20214;&#20013;&#32473;&#20986;&#12290;</p>
<p>&#20351;&#29992; master_secrete &#23548;&#20986; SRTP &#21152;&#23494;&#21442;&#25968;&#23383;&#33410;&#24207;&#21015;&#65292;&#20351;&#29992; RFC5705 4. Exporter Definition &#32473;&#20986;&#30340;&#35745;&#31639;&#26041;&#24335;&#65292;&#20351;&#29992;&#21442;&#25968;&#65306;</p>
<p>master_secret&#65292;client_random&#65292;server_random &#35745;&#31639;&#23383;&#33410;&#24207;&#21015;&#65306;</p>
<p>key_block=PRF(master_secret,&rdquo;EXTRACTOR-dtls_srtp&rdquo;,client_random+server_random)[length]</p>
<p>&#22312; DTLS-SRTP 4.2. Key Derivation &#20013;&#25551;&#36848;&#20102;&#38656;&#35201;&#30340;&#23383;&#33410;&#24207;&#21015;&#38271;&#24230;&#12290;</p>
<p>2*(SRTPSecurityParams.master_key_len+SRTPSecurityParams.master_salt_len) bytes of data</p>
<p>master_key_len &#21644; master_salt_len &#30340;&#20540;&#65292;&#22312; user_srtp &#25551;&#36848;&#30340; profile &#20013;&#23450;&#20041;&#12290;</p>
<p>&#25105;&#20204;&#20351;&#29992;&#30340; profile &#20026; SRTP_AES128_CM_</p>
<p>HMAC_SHA1_80&#65292;&#23545;&#24212;&#30340; profile &#37197;&#32622;&#20026;&#65306;</p>
<p>SRTP_AES128_CM_HMAC_SHA1_80</p>
<p>cipher: AES_128_CM</p>
<p>cipher_key_length: 128</p>
<p>cipher_salt_length: 112</p>
<p>maximum_lifetime: 2^31</p>
<p>auth_function: HMAC-SHA1</p>
<p>auth_key_length: 160</p>
<p>auth_tag_length: 80</p>
<p>&#20063;&#23601;&#26159;&#25105;&#20204;&#38656;&#35201; (128/8+112/8)*2 = 60 bytes &#23383;&#33410;&#24207;&#21015;&#12290;</p>
<h4><strong>&#23548;&#20986; SRTP &#23494;&#38053;</strong></h4>
<p>&#35745;&#31639;&#20986; SRTP &#21152;&#23494;&#21442;&#25968;&#23383;&#33410;&#24207;&#21015;&#65292;&#22312; DTLS-SRTP 4.2.Key Derivation &#25551;&#36848;&#20102;&#23383;&#33410;&#24207;&#21015;&#21547;&#20041;&#65306;</p>
<p>client_write_SRTP_master_key[SRTPSecurityParams.master_key_len]; // 128 bits</p>
<p>server_write_SRTP_master_key[SRTPSecurityParams.master_key_len]; // 128 bits</p>
<p>client_write_SRTP_master_salt[SRTPSecurityParams.master_salt_len]; // 112 bits</p>
<p>server_write_SRTP_master_salt[SRTPSecurityParams.master_salt_len]; // 112 bits</p>
<p>&#33267;&#27492;&#25105;&#20204;&#24471;&#21040;&#20102;&#65292;Client &#21644; Server &#20351;&#29992;&#30340; SRTP &#21152;&#23494;&#21442;&#25968;&#65306;master_key &#21644; master_salt.</p>
<p>Clientkey=client_master_key+client_master_salt;</p>
<p>Serverkey=server_master_key+server_master_salt;</p>
<p>&#23494;&#38053;&#23548;&#20986;&#21518;&#65292;&#20351;&#29992; key &#21021;&#22987;&#21270; SRTPSession&#65292;&#20445;&#35777;&#25968;&#25454;&#23433;&#20840;&#21644;&#23436;&#25972;&#65292;Client &#20351;&#29992; Clientkey &#23545;&#25968;&#25454;&#36827;&#34892;&#21152;&#23494;&#65292;&#21457;&#36865;&#32473;&#26381;&#21153;&#31471;&#65292;&#20351;&#29992; Serverkey &#23545;&#25910;&#21040;&#30340;&#25968;&#25454;&#36827;&#34892;&#35299;&#23494;&#12290;</p>
<p>&#22312; WebRTC &#20013;&#65292;&#36890;&#20449;&#30340;&#21452;&#26041;&#20998;&#21035;&#20135;&#29983;&#33258;&#31614;&#21517;&#35777;&#20070;(a=fingerprint:)&#21644; DTLS &#35282;&#33394;&#65288;a=setup&#65289;&#28155;&#21152;&#21040; sdp &#20013;&#65292;&#36890;&#36807;&#23433;&#20840;&#30340;&#20449;&#20196;&#36890;&#36947; (https)&#65292;&#36827;&#34892; sdp &#20132;&#25442;&#21327;&#21830;&#12290;&#22312; DTLS &#25569;&#25163;&#38454;&#27573;&#65292;&#20808;&#36827;&#34892;&#25968;&#25454;&#31614;&#21517;&#21644;&#26657;&#39564;&#65292;&#22914;&#26524;&#25968;&#25454;&#34987;&#25915;&#20987;&#32773;&#31713;&#25913;&#65292;&#26657;&#39564;&#22833;&#36133;&#65292;&#36890;&#20449;&#21452;&#26041;&#31435;&#21051;&#21487;&#20197;&#21457;&#29616;&#12290;</p>
<p>&#36890;&#20449;&#21452;&#26041;&#21327;&#21830;&#21152;&#23494;&#32452;&#20214;&#65292;&#20132;&#25442;&#21452;&#26041;&#30340;&#20844;&#38053;&#65292;&#20197;&#38750;&#23545;&#31216;&#21152;&#23494;&#30340;&#26041;&#27861;&#65292;&#23545; SRTP &#23494;&#38053;&#36827;&#34892;&#21152;&#23494;&#20256;&#36755;&#12290;&#25509;&#25910;&#26041;&#20351;&#29992;&#31169;&#38053;&#36827;&#34892;&#35299;&#23494;&#24471;&#21040;&#23545;&#31216;&#21152;&#23494;&#30340; SRTP &#23494;&#38053;&#12290;&#36825;&#26679;&#23433;&#20840;&#20256;&#36755;&#23545;&#31216;&#23494;&#38053;&#65292;&#36890;&#20449;&#21452;&#26041;&#20351;&#29992;&#23545;&#31216;&#23494;&#38053;&#23545;&#38899;&#35270;&#39057;&#25968;&#25454;&#36827;&#34892;&#21152;&#35299;&#23494;&#65292;&#36825;&#26679;&#25928;&#29575;&#39640;&#65292;&#21516;&#26102;&#20063;&#30830;&#20445;&#38899;&#35270;&#39057;&#25968;&#25454;&#23436;&#25972;&#23433;&#20840;&#12290;</p>
</div>
&nbsp; &nbsp; &nbsp; &nbsp;</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
via<br>
<br>
October 8, 2022 at 04:57PM