New Architecture of OAuth 2.0 and OpenID Connect Implementation

New Architecture of OAuth 2.0 and OpenID Connect Implementation<br>
<br>
https://ift.tt/3enNBRc<br>
<br>
Takahiko Kawasaki<br>
<br>
<div>
<section>
<div>
<div>
<h2>~Semi-Hosted Service Pattern~</h2>
<div>
<div>
<div>
<div><a rel="noopener" href="https://medium.com/@darutk?source=post_page-----18f408f9338d----------------------"><img alt="Takahiko Kawasaki" width="48" src="https://miro.medium.com/fit/c/96/96/2*iur1UduEu4gb_qVOySepLA.jpeg" height="48"></a></div>
</div>
</div>
</div>
<p>This article describes details about a new architecture of OAuth 2.0 and OpenID Connect implementation which is categorized as "Semi-Hosted Service" pattern in <em>&ldquo;</em><a rel="noopener" href="https://medium.com/@justinsecurity/deployment-and-hosting-patterns-in-oauth-a1666dc0d966" target="_blank"><em>Deployment and Hosting Patterns in OAuth</em></a><em>&rdquo;</em>.</p>
<p>In the pattern, a frontend server (an authorization server and an OpenID provider) utilizes a backend service which provides APIs to help the frontend server implement OAuth 2.0 and OpenID Connect. <a rel="noopener nofollow" href="https://www.authlete.com/" target="_blank"><strong>Authlete</strong></a> is a real-world example of such backend services. The figure below illustrates the relationship between a frontend server and a backend service (Authlete).</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="2008" src="https://miro.medium.com/max/60/1*qWgkPOgyk2R56ejCnHm7Ig.png?q=20" height="618"></div>
<img src="https://miro.medium.com/max/4016/1*qWgkPOgyk2R56ejCnHm7Ig.png" width="2008" height="618">
</div>
</div>
</div>
</div>
</figure>
<p><mark>The primary advantage of this architecture is in that</mark> <mark><strong>the backend service can focus on implementing OAuth 2.0 and OpenID Connect</strong></mark> <mark>without caring about other components such as identity management, user authentication, login session management, API management and fraud detection. And, consequently, it leads to another major advantage which enables the backend service (implementation of OAuth 2.0 and OpenID Connect) to be</mark> <mark><strong>combined with any solution</strong></mark> <mark>of other components and thus gives flexibility to frontend server implementations.</mark></p>
<p>Although <a rel="noopener nofollow" href="https://tools.ietf.org/html/rfc6749" target="_blank">RFC 6749</a> (The OAuth 2.0 Authorization Framework) explicitly states as follows:</p>
<blockquote>
<p>The way in which the authorization server <strong>authenticates the resource owner</strong> (e.g., username and password login, session cookies) is <strong>beyond the scope of this specification</strong>.</p>
</blockquote>
<p>, most implementations provide both user authentication and authorization combinedly as a package solution because user authentication is included as a step in authorization process as illustrated below (see <em>&ldquo;3. Authentication and Authorization&rdquo;</em> in <em>&ldquo;</em><a rel="noopener" href="https://medium.com/@darutk/full-scratch-implementor-of-oauth-and-openid-connect-talks-about-findings-55015f36d1c3" target="_blank"><em>Full-Scratch Implementor of OAuth and OpenID Connect Talks About Findings</em></a><em>&rdquo;</em> for details). To put the other way around, rather, it's because it is difficult to separate user authentication from OAuth 2.0 and OpenID Connect implementation.</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1144" src="https://miro.medium.com/max/60/1*1P0AbIazGjQmART8VTasSw.png?q=20" height="996"></div>
<img src="https://miro.medium.com/max/2288/1*1P0AbIazGjQmART8VTasSw.png" width="1144" height="996">
</div>
</div>
</div>
</div>
</figure>
<p>Such package solutions often offer mechanisms to customize user authentication process (e.g. editable authorization page, common interface over underlying identity management system, hooks in page transitions). However, this approach makes it difficult to adopt a new user authentication mechanism whose flow is considerably different from the ones assumed by the package solutions.</p>
<p>On the other hand, Authlete has adopted the semi-hosted service pattern in order to eliminate the need itself to abstract the way of user authentication. Authlete requires only a result of user authentication and does not care about how the result has been obtained. Consequently, Authlete can be combined with any user authentication solution.</p>
<p>You may wonder what is a result of user authentication. Regardless of how a user is authenticated (e.g. by ID and password, fingerprint, iris, hardware token, random table, and whatever), from a technical point of view, <strong>user authentication is a process to identify a unique user identifier</strong>. That is, a result of user authentication is a user ID.</p>
<h2>2.1. How to Push Out User Authentication?</h2>
<p>The figure below is a diagram of the <strong>Authorization Code Flow</strong> defined in <em>&ldquo;</em><a rel="noopener nofollow" href="https://tools.ietf.org/html/rfc6749#section-4.1" target="_blank"><em>4.1. Authorization Code Grant</em></a><em>&rdquo;</em> in RFC 6749. (You can find the same figure in <em>&ldquo;</em><a rel="noopener" href="https://medium.com/@darutk/diagrams-and-movies-of-all-the-oauth-2-0-flows-194f3c3ade85" target="_blank"><em>Diagrams And Movies Of All The OAuth 2.0 Flows</em></a><em>&rdquo;</em>.)</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1440" src="https://miro.medium.com/max/60/1*ULF38OTiNJNQZ4lHQZqRwQ.png?q=20" height="880"></div>
<img src="https://miro.medium.com/max/2880/1*ULF38OTiNJNQZ4lHQZqRwQ.png" width="1440" height="880">
</div>
</div>
</div>
</div>
</figure>
<p>The client application makes an authorization request in the step (2), and the authorization server returns an authorization code in the step (6). User authentication is performed in between (2) and (6). User authentication, however, may be omitted if the user has already been authenticated. In either case, the authorization server has to obtain the user ID <em>before</em> issuing an authorization code because the user ID has to be associated with the authorization code.</p>
<p>To push out user authentication completely from the implementation of OAuth 2.0 and OpenID Connect, Authlete has divided the authorization flow into the following three parts:</p>
<p><em>(a) Processing the authorization request</em></p>
<p><em>(b) Authenticating the user</em></p>
<p><em>(c) Making the authorization response</em></p>
<p>and provides two separate APIs for (a) and (c) only. Authlete does nothing for (b) and leaves it to customers.</p>
<p>The point is in that the API for (c) requires a result of (b). In other words, API callers must pass a unique user identifier to the API.</p>
<p>The figure below illustrates how a frontend server and a backend service (Authlete) work together. You can see that user authentication is performed at the frontend server in the step (11) and that the user ID is passed to an Authlete's API (<a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#auth_authorization_issue" target="_blank">/api/auth/authorization/issue</a>) in the step (12).</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1280" src="https://miro.medium.com/max/60/1*IWvn4Ia8AGG-4ZFy1RMaKw.png?q=20" height="720"></div>
<img src="https://miro.medium.com/max/2560/1*IWvn4Ia8AGG-4ZFy1RMaKw.png" width="1280" height="720">
</div>
</div>
</div>
</div>
<figcaption>Authorization Code Flow + AUTHLETE</figcaption>
</figure>
<h2>2.2. Other OAuth flows + Authlete</h2>
<p>Just for references.</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1280" src="https://miro.medium.com/max/60/1*ME9vUNFAnPriYcXvwg1PLg.png?q=20" height="720"></div>
<img src="https://miro.medium.com/max/2560/1*ME9vUNFAnPriYcXvwg1PLg.png" width="1280" height="720">
</div>
</div>
</div>
</div>
<figcaption>Implicit Flow + AUTHLETE</figcaption>
</figure>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1280" src="https://miro.medium.com/max/60/1*zS4HU1PBpzYODJTWW89mgQ.png?q=20" height="720"></div>
<img src="https://miro.medium.com/max/2560/1*zS4HU1PBpzYODJTWW89mgQ.png" width="1280" height="720">
</div>
</div>
</div>
</div>
<figcaption>Resource Owner Password Credentials Flow + AUTHLETE</figcaption>
</figure>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1280" src="https://miro.medium.com/max/60/1*8JDWqxWoInVSbnBZQCzXew.png?q=20" height="720"></div>
<img src="https://miro.medium.com/max/2560/1*8JDWqxWoInVSbnBZQCzXew.png" width="1280" height="720">
</div>
</div>
</div>
</div>
<figcaption>Client Credentials Flow + AUTHLETE</figcaption>
</figure>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1280" src="https://miro.medium.com/max/60/1*9896dPZggLMBP_UJKxhX4g.png?q=20" height="720"></div>
<img src="https://miro.medium.com/max/2560/1*9896dPZggLMBP_UJKxhX4g.png" width="1280" height="720">
</div>
</div>
</div>
</div>
<figcaption>Refresh Token Flow + AUTHLETE</figcaption>
</figure>
<p>The growth of the API economy has attracted many companies into the market of <strong>API management</strong>. Most solutions in the market provide some mechanisms to protect APIs, including protection by OAuth 2.0 access tokens.</p>
<p>Instead of incorporating functionality of OAuth 2.0 and OpenID Connect in a complicated manner, some API management solutions have decided to delegate the functionality to external third-party solutions.</p>
<h2>3.1. AWS API Gateway</h2>
<p>One example is <a rel="noopener nofollow" href="https://aws.amazon.com/api-gateway/" target="_blank">AWS API Gateway</a>. It provides a mechanism to delegate validation of bearer tokens (such as OAuth 2.0 tokens) presented by client applications to an external authorizer. The figure below excerpted from <em>&ldquo;</em><a rel="noopener nofollow" href="http://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html" target="_blank"><em>Enable Amazon API Gateway Custom Authorization</em></a><em>&rdquo;</em> illustrates the mechanism.</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="800" src="https://miro.medium.com/max/60/1*FahvcPOOKdFp9lBYsHbOSg.png?q=20" height="450"></div>
<img src="https://miro.medium.com/max/1600/1*FahvcPOOKdFp9lBYsHbOSg.png" width="800" height="450">
</div>
</div>
</div>
</div>
<figcaption>Custom Authorizer; mechanism to delegate validation of bearer tokens</figcaption>
</figure>
<p>&ldquo;Lambda Auth function&rdquo; at the top position in the figure is an authorizer. The implementation of the function receives bearer tokens from API Gateway, validates them, and returns the result of the validation to API Gateway. Based on the result, API Gateway determines whether to accept the request from the client or reject it.</p>
<p>The implementation of the function itself may in turn delegate the validation to an external authorizer. The figure below is an example which uses Authlete as the external authorizer. Technical details about this are written in <em>&ldquo;</em><a rel="noopener nofollow" href="https://www.authlete.com/documents/article/custom_authorizer" target="_blank"><em>Amazon API Gateway + AWS Lambda + OAuth</em></a><em>&rdquo;</em>.</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="864" src="https://miro.medium.com/max/60/1*lTWUEQBkeDI-1HUDI6-3Jg.png?q=20" height="485"></div>
<img src="https://miro.medium.com/max/1728/1*lTWUEQBkeDI-1HUDI6-3Jg.png" width="864" height="485">
</div>
</div>
</div>
</div>
<figcaption>Custom Authorizer using Authlete</figcaption>
</figure>
<h2>3.2. IBM API Connect</h2>
<p><a rel="noopener nofollow" href="https://www.ibm.com/software/products/api-connect" target="_blank">IBM API Connect</a> is another example. It has OAuth implementation, but at the same time, it can delegate validation of access tokens to an external authorization server if the server supports <a rel="noopener nofollow" href="https://tools.ietf.org/html/rfc7662" target="_blank">RFC 7662</a> (OAuth 2.0 Token Introspection). Details are written in <em>&ldquo;</em><a rel="noopener nofollow" href="https://www.ibm.com/support/knowledgecenter/en/SSMNED_5.0.0/com.ibm.apic.toolkit.doc/con_oauth_introspection.html" target="_blank"><em>Integrating third party OAuth provider</em></a><em>&rdquo;</em> (in IBM Knowledge Center).</p>
<p><strong>Note for developers:</strong></p>
<p>APIs built using IBM API Connect require a custom HTTP header, <code>X-IBM-Client-Id</code>, in addition to <code>Authorization</code> header which includes an access token in the way defined in <em>&ldquo;</em><a rel="noopener nofollow" href="https://tools.ietf.org/html/rfc6750#section-2.1" target="_blank"><em>2.1. Authorization Request Header Field</em></a><em>&rdquo;</em> in <a rel="noopener nofollow" href="https://tools.ietf.org/html/rfc6750" target="_blank">RFC 6750</a>. The custom header is required even if access token validation is delegated to a third-party authorization server.</p>
<p>The following is the command line excerpted from <em>&ldquo;</em><a rel="noopener nofollow" href="https://www.ibm.com/support/knowledgecenter/SSFS6T/com.ibm.apic.toolkit.doc/tutorial_apionprem_security_OAuth.html#OAuth_Tute__Using_Tokens" target="_blank"><em>Using the access token</em></a><em>&rdquo;</em> (in <em>&ldquo;</em><a rel="noopener nofollow" href="https://www.ibm.com/support/knowledgecenter/SSFS6T/com.ibm.apic.toolkit.doc/tutorial_apionprem_security_OAuth.html" target="_blank"><em>Tutorial: Securing an API by using OAuth 2.0</em></a><em>&rdquo;</em> in IBM Knowledge Center) (with extra line breaks added for display purpose only).</p>
<pre><span>curl -k -v \<br> -H "<strong>X-IBM-Client-Id</strong>: Client_ID" \<br> -H "Authorization: Bearer Access_Token" \<br> -X GET 'Operation_URL'</span></pre>
<p>A certain major bank in Japan has adopted IBM's solution for its bank API, and now <code>X-IBM-Client-Id</code> is a part of the bank's official API specification (<a rel="noopener nofollow" href="https://developer.portal.bk.mufg.jp/node/1947" target="_blank">example</a>).</p>
<p>Before an OpenID provider issues an ID token, it has to authenticate the user. However, user authentication may be skipped if the user has already logged in the server.</p>
<p>In the semi-hosted service pattern, login session management is handled by the frontend server (OpenID provider), and the backend service does nothing for it. Because login session management is separated from OAuth and OpenID Connect implementation, developers can choose any solution for login session management (e.g. <a rel="noopener nofollow" href="https://shiro.apache.org/index.html" target="_blank">Apache Shiro</a>) as they like.</p>
<p><a rel="noopener nofollow" href="https://github.com/authlete/java-oauth-server" target="_blank">java-oauth-server</a> is a good example that demonstrates login session management can be handled only in the frontend server. The open-source software is an implementation of authorization server and OpenID provider written in Java. It uses Authlete as the backend service.</p>
<p>When we ran the <a rel="noopener nofollow" href="http://openid.net/certification/" target="_blank">OpenID Certification</a> test for java-oauth-server for the first time, the test reported some errors related to login session management. We could solve the errors by adding login session management to java-oauth-server. The point is that we didn't have to change any code of the backend service (Authlete) to solve the errors. This has proved login session management can be implemented in the frontend server independently of the backend service.</p>
<p><strong>Authorization</strong> in the context of <strong>identity management</strong> and authorization in the context of <strong>OAuth</strong> are different. In the former context, authorization means <strong><em>&ldquo;who has what permissions&rdquo;</em></strong>. In the latter context, authorization means <strong><em>&ldquo;who grants what permissions to whom&rdquo;</em></strong>. They are different but in some cases you have to handle both simultaneously. <a rel="noopener nofollow" href="https://stackoverflow.com/q/34377012/1174054" target="_blank">This question</a> (<em>&ldquo;How to verify which resources each user can access with OAuth and OpenID Connect?&rdquo;</em>) and <a rel="noopener nofollow" href="https://stackoverflow.com/a/34378565/1174054" target="_blank">this answer</a> in Stack Overflow show one of such use cases.</p>
<p>Some identity management solutions support authorization in the context of OAuth (which may make people confused). However, the semi-hosted service pattern removes the need itself for identity management solutions to support OAuth.</p>
<h2>5.1. Shared User Database</h2>
<p>Suppose there is a system for music service. If we develop APIs of the system with an authorization server which is tightly combined with identity management, the system will look like the figure below. The authorization server holds both a user database and an authorization database.</p>
<figure>
<div>
<div>
<div>
<div><img width="432" src="https://miro.medium.com/max/60/1*1R1UIKTKjcrroVBy3bRxfQ.png?q=20" height="362"></div>
<img src="https://miro.medium.com/max/864/1*1R1UIKTKjcrroVBy3bRxfQ.png" width="432" height="362">
</div>
</div>
</div>
<figcaption>An authorization server combined tightly with identity management</figcaption>
</figure>
<p>If the company running the music service expands its business and starts a healthcare service and a travel service, and if APIs of the new services are built on top of the existing system, the authorization server is shared as illustrated below even though API servers are prepared independently.</p>
<figure>
<div>
<div>
<div>
<div><img width="432" src="https://miro.medium.com/max/48/1*gYxlcB91B_uojf6eTyTHQg.png?q=20" height="544"></div>
<img src="https://miro.medium.com/max/864/1*gYxlcB91B_uojf6eTyTHQg.png" width="432" height="544">
</div>
</div>
</div>
<figcaption>Multiple services share one authorization server</figcaption>
</figure>
<p>Sharing an authorization server among services means that scopes (permissions) and client applications of the services are managed at one place. For example, a permission to create play lists (music service), a permission to refer to the record of body weight (healthcare service) and a permission to reserve hotels (travel service) are managed at one place.</p>
<p>Because each service usually has a different development team, a different schedule, a different target for API exposure and different client applications, it is desirable to make each service have its own authorization server. At the same time, it is also desirable to share the user pool among services. However, if an authorization server is tightly combined with identity management, it is difficult to have multiple authorization servers for multiple services which share the same user pool.</p>
<p>On the contrary, what if there exists an authorization server which is not tied to identity management? If you have such an authorization server, you can build a system where each service has its own authorization server but shares the same user pool with other services. The semi-hosted service pattern which clearly separates authorization from identity management enables you to adopt such a system architecture.</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1594" src="https://miro.medium.com/max/60/1*aTvKANRs-LrgYYNkTH0sUA.png?q=20" height="358"></div>
<img src="https://miro.medium.com/max/3188/1*aTvKANRs-LrgYYNkTH0sUA.png" width="1594" height="358">
</div>
</div>
</div>
</div>
<figcaption>Each service has an authorization server but shares one user pool with other services</figcaption>
</figure>
<h2>5.2. Multiple Authorization Servers</h2>
<p>Even if the architecture where each service can have its authorization server is beautiful, if it requires many man-hours to develop one authorization server, it is difficult to adopt the architecture. But, it is almost okay to expect that implementations (such as Authlete) which by design take multiple authorization servers into consideration offer a mechanism to easily create and delete authorization server instances.</p>
<p>As an example, the figure below illustrates the steps to create a new instance of authorization server / OpenID provider in Authlete's web console (<a rel="noopener nofollow" href="https://www.authlete.com/documents/so_console" target="_blank">Service Owner Console</a>). Just three clicks. If it is easy to create an authorization server instance like this, system architects can pursue a better architecture for their OAuth and OpenID Connect implementations.</p>
<figure>
<div>
<div>
<div>
<div>
<div><img width="1358" src="https://miro.medium.com/max/60/1*B0HBltulYRVGVK_sFHKcaQ.png?q=20" height="912"></div>
<img src="https://miro.medium.com/max/2716/1*B0HBltulYRVGVK_sFHKcaQ.png" width="1358" height="912">
</div>
</div>
</div>
</div>
</figure>
<p>Frontend servers are expected to behave as defined in the standard specifications. On the other hand, backend services in the semi-hosted service pattern can design their APIs freely without any restraint.</p>
<p>The following sections show example extensions that backend services may provide in order to help developers implement authorization servers and OpenID providers.</p>
<h2>6.1. Access Token Creation</h2>
<p>In some use cases, you may want to create access tokens using a different way than the standard flows defined in the specification (RFC 6749). Backend service may provide an API for that purpose.</p>
<p><strong>Example</strong></p>
<p>Authlete's <a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#auth_token_create" target="_blank">/api/auth/token/create</a> API is an example. By using the API, developers can create access tokens without user interaction.</p>
<pre><span>$ curl &yen;<br> --user 4593494640:BBw0rner_-y1A6J9s20wjRCpkBvez3GxEBoL9jOJVR0 \<br> https://api.authlete.com/api/auth/token/create \<br> -d grantType<strong>=</strong>AUTHORIZATION_CODE \<br> -d clientId<strong>=</strong>98282920604 \<br> -d subject<strong>=</strong>user123 \<br> -d scopes<strong>=</strong>photo</span></pre>
<h2>6.2. Extra Data of Access Token</h2>
<p>The following is an excerpt from <em>&ldquo;</em><a rel="noopener nofollow" href="https://tools.ietf.org/html/rfc6749#section-5.1" target="_blank"><em>5.1. Successful Response</em></a><em>&rdquo;</em> in RFC 6749.</p>
<pre><span>{<br> "access_token":"2YotnFZFEjr1zCsicMWpAA",<br> "token_type":"example",<br> "expires_in":3600,<br> "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA",<br> "example_parameter":"example_value"<br>}</span></pre>
<p>This shows a possibility that non-standard parameters such as <code>example_parameter</code> may be returned when an access token is issued. However, there is no standardized way to associate arbitrary data like <code>example_parameter</code> with an access token.</p>
<p>Backend services in the semi-hosted service pattern can provide a mechanism to associate arbitrary data with an access token without needing to add proprietary specifications to frontend servers.</p>
<p><strong>Example</strong></p>
<p><code>properties</code> request parameter of some Authlete APIs is an example. By passing an array of key-value pairs via the request parameter, developers can associate arbitrary data with access tokens.</p>
<p>The following is an example of <a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#auth_authorization_issue" target="_blank">/api/auth/authorization/issue</a> API call with the <code>properties</code> request parameter.</p>
<pre><span>$ curl \<br> --user 4593494640:BBw0rner_-y1A6J9s20wjRCpkBvez3GxEBoL9jOJVR0 \<br> https://api.authlete.com/api/auth/authorization/issue \<br> -H 'Content-Type:application/json' \<br> -d "{\"ticket\":\"xKdGvPyPkLJRkmP6MSAJ1wISBmdnSbPG8pFzgTdZh4U\",<br> \"subject\":\"user123\",<br> \"properties\":[<br> {\"key\":\"example_parameter\",<br> \"value\":\"example_value\"},<br> {\"key\":\"hidden_parameter\",<br> \"value\":\"hidden_value\",<br> \"hidden\":true}]}"</span></pre>
<h2>6.3. Operations on a User-Client Basis</h2>
<p>In order to enable a user to revoke permissions given to client applications, the service has to display client applications to which the user has given permissions, let the user select client applications, and delete all the access tokens issued to the selected client applications by the user.</p>
<p>Some authorization server implementations may provide UI for the purpose. On the other hand, backend services in the semi-hosted service pattern would take a different approach - provide APIs instead of UI.</p>
<p><strong>Example</strong></p>
<p>Developers can support the use case above by using the following Authlete APIs.</p>
<ol>
<li><a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#client_authorization_get_list" target="_blank">/api/client/authorization/get/list</a></li>
<li><a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#client_authorization_delete" target="_blank">/api/client/authorization/delete</a></li>
<li><a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#client_authorization_update" target="_blank">/api/client/authorization/update</a></li>
</ol>
<h2>6.4. Record of Granted Permissions</h2>
<p>When a client application wants new permissions in addition to the ones it already has, it sends an authorization request to the authorization server again. As a response to the request, the authorization server will return an authorization page which includes the list of permissions requested by the client application.</p>
<p>A simple implementation will list all the permissions in the authorization page. On the other hand, a user-friendly implementation may list the new permissions only.</p>
<p>To implement the user-friendly authorization page, the authorization server has to remember sets of permissions granted to client applications by users. It should be noted that the records of granted permissions cannot be deleted even after all the associated access tokens expire. Otherwise, permissions would be displayed to users again if an authorization request is made after all access tokens expire.</p>
<p>Some authorization server implementations may provide UI for the purpose. On the other hand, backend services in the semi-hosted service pattern would take a different approach &mdash; provide APIs instead of UI.</p>
<p><strong>Example</strong></p>
<p>Developers can support the use case above by using the following Authlete APIs. Note that these APIs work on dedicated servers only (don't work on the shared server, api.authlete.com).</p>
<ol>
<li><a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#client_granted_scopes_get" target="_blank">/api/client/granted_scopes/get</a></li>
<li><a rel="noopener nofollow" href="https://www.authlete.com/documents/apis/reference#client_granted_scopes_delete" target="_blank">/api/client/granted_scopes/delete</a></li>
</ol>
<p>This article explained a new architecture that, instead of providing an authorization server and OpenID provider itself, provides technical components as Web APIs with which developers can develop authorization servers and OpenID providers. This architecture has been named &ldquo;Semi-Hosted Service Pattern&rdquo;.</p>
<p>This architecture draws a clear line between an implementation of OAuth 2.0 / OpenID Connect and other technical components such as user authentication and identity management. I hope developers who seek for better system architectures will notice the advantages of the semi-hosted service pattern.</p>
<p>Thank you for reading this long article to the end.</p>
</div>
</div>
</section>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
via Medium https://medium.com<br>
<br>
May 27, 2020 at 11:09AM