How Does WebRTC Work? - Kevin Sookocheff

How Does WebRTC Work? - Kevin Sookocheff<br>
<br>
https://ift.tt/34Qelpg<br>
<br>
Kevin Sookocheff<br>
<br>
<div>
<div>
<div>
<div>
<article>
<p>To deliver real-time communication (RTC) from browser to browser requires a lot of technologies that work well together: audio and video processing, application and networking APIs, and additional network protocols that for real-time streaming. The end result is WebRTC &mdash; over a dozen different standards for the application protocols and browser APIs that enable real-time communication for the web.</p>
<p>The following figure, <a href="https://webrtc.org/architecture/">from webrtc.org</a>, shows a high-level overview of the WebRTC technology stack. There is a lot going on here, and we can start to understand how WebRTC works by picking apart the individual pieces from this overview.</p>
<div>
<figure>
<div><img alt="assets/webrtc-architecture.png" src="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/webrtc-architecture.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/webrtc-architecture.png"></a>
<figcaption>
<h4>Architectural overview of WebRTC</h4>
</figcaption>
</figure>
</div>
<h2>Web API</h2>
<div>
<figure>
<div><img alt="assets/web-api.png" src="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/web-api.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/web-api.png"></a>
<figcaption>
<h4>The Web API layer</h4>
</figcaption>
</figure>
</div>
<p>At the top of the technology stack is the WebRTC Web API, which is maintained by the <a href="http://w3c.github.io/webrtc-pc/">W3C</a>. The Web API is a JavaScript API that application developers use to create a real-time communication application in the browser. Although the Web API is undoubtedly interesting for application developers, it is not the focus of this article. If you want to learn more about how to build an application using WebRTC, refer to the <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API">Mozilla Developer Network documentation</a>.</p>
<p>If you are interested in learning a bit more about how WebRTC works, our journey continues down the WebRTC stack.</p>
<h2>WebRTC C++ API</h2>
<div>
<figure>
<div><img alt="assets/webrtc-c-api.png" src="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/webrtc-c-api.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/webrtc-c-api.png"></a>
<figcaption>
<h4>The WebRTC C++ layer</h4>
</figcaption>
</figure>
</div>
<p>The next level down is the C++ API for WebRTC that enables browser makers to implement the JavaScript-based WebAPI. This layer of the WebRTC stack allows browsers to implements the Peer Connection API, which manages the full lifecycle of establishing and maintaining a peer-to-peer connection between two browsers, and the Stream API, which manages delivery of individual real-time communication streams. These APIs encapsulate all of the connection management, setup, session state, and data delivery within simple interfaces for browser developers and is closely tied to the Session Management interface. If you want to learn more about the browser API, refer to the [WebRTC documentation][<a href="https://webrtc.org/native-code/native-apis/">https://webrtc.org/native-code/native-apis/</a>] as a starting point.</p>
<p>From here, WebRTC splits into three different verticals, one for voice processing, one for video processing, and a third for the connection management and transport.</p>
<h2>VoiceEngine</h2>
<div>
<figure>
<div><img alt="assets/voice-engine.png" src="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/voice-engine.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/voice-engine.png"></a>
<figcaption>
<h4>The VoiceEngine component</h4>
</figcaption>
</figure>
</div>
<p>The VoiceEngine is a framework for the browser to implement audio media capture, from the low-level capture of raw data from the sound card all the way up to transporting that data over the network. The VoiceEngine is composed of several different standards that handle different tasks. First, there are the audio codecs (iSAC, iLBC, and Opus). Second, echo cancellation algorithms. Third, a noise reduction component.</p>
<h3>iSAC / iLBC / Opus Audio Codecs</h3>
<p>There are three available audio codecs available to WebRTC implementers. Generally speaking, the Opus format is the most performant over widely varying network conditions, while iSAC and iLBC enjoy legacy support in VoIP applications. Implementers of the WebRTC standard are free to vary the audio codec used depending on application requirements and network conditions.</p>
<p>The internet Speech Audio Codec (iSAC) is a standard developed by Global IP Solutions. iSAC is already used by VoIP to provide a audio communications that adjust according to the bandwidth available (also called bandwidth-adaptive). iSAC is intended for wideband network conditions where bitrates may be low and packet loss, delay, or jitter as are common (these conditions are usually true over wide area networks).</p>
<p>The Internet low bit rate codec (iLBC) is a narrowband speech codec for VoIP and streaming audio defined in RFCs <a href="https://www.ietf.org/rfc/rfc3951.txt">3951</a> and <a href="https://www.ietf.org/rfc/rfc3952.txt">3952</a>. iLBC is well suited to poor network conditions with limited bitrates and is more rubust to lost speech frames &mdash; audio quality gracefully degrades as network conditions detiorate.</p>
<p>Opus is a lossy audio coding format standardized in <a href="https://www.ietf.org/rfc/rfc6716.txt">RFC 6716</a>, and incorporates technology already deployed by Skype. Opus is a flexible codec that can handle a wide range of audio applications, including Voice over IP, videoconferencing, in-game chat, and even remote live music performances. It can scale from low bitrate narrowband speech to very high quality stereo music.</p>
<h3>Acoustic Echo Canceler (AEC)</h3>
<p>The Echo Canceler is a signal processor that removes any acoustic echo from the voice. This is a needed component because WebRTC was developed with end-user browser-based communication in mind. This means that most WebRTC users will have an integrated camera, speaker and microphone where the output from the speaker will be picked up by the active microphone. Without echo canceling, you would end up with feedback and an unusable audio stream.</p>
<h3>Noise Reduction (NR)</h3>
<p>Noise Reduction is another signal processing component developed to deal with the common conditions of WebRTC and VoIP deployments. Specifically, computers emit a lot of background noise like the spinning of a fan, or the hum of an electrical wire. Noise Reduction reduces these noises to enhance the quality of the audio stream.</p>
<h2>VideoEngine</h2>
<div>
<figure>
<div><img alt="assets/voice-engine.png" src="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/voice-engine.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/voice-engine.png"></a>
<figcaption>
<h4>The VideoEngine component</h4>
</figcaption>
</figure>
</div>
<p>VideoEngine, as the name would suggest, provides much the same functionality as AudioEngine, only tailored to streaming video. VideoEngine also is similarly intended to take a raw video capture from the device and prepare it for transport over the web.</p>
<h3>VP8</h3>
<p>VP8 is the video codec taken from the <a href="https://www.webmproject.org">WebM</a>, which is tasked with developing free and open video formats for the web. VP8 is well suited for WebRTC because it is designed for low latency. One of the greatest benefits of VP8 is that it is completely unencumbered by patents after Google provided an irrevocable release of the codec under a Creative Commons licence.</p>
<p>Raw video is bandwidth intensive, and the key functionality that VP8 provides is video compression.</p>
<h3>Video jitter buffer</h3>
<p>The jitter buffer helps conceal packet loss. The jitter buffer works by collecting and storing incoming media packets in a buffer, and decides when to pass them along to the decoder and playback engine. It makes that decision based on the packets it has collected, the packets it is still waiting for and the timing required to playback the media.</p>
<h3>Image enhancements</h3>
<p>Any image enhancements are dependent on the WebRTC implementation. Typically, the VideoEngine will remove any video noise from the image captured by the web cam.</p>
<h2>Transport</h2>
<div>
<figure>
<div><img alt="assets/transport.png" src="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/transport.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/assets/transport.png"></a>
<figcaption>
<h4>The Transport component</h4>
</figcaption>
</figure>
</div>
<p>Once we have audio and video data processed and encoded, we need to send it over the network. This is handled by the Transport component of the WebRTC architecture, the most important part of which is the Real-Time Protocol that delivers an adaptive stream of data over UDP.</p>
<h3>RTP &mdash; The Real-Time Protocol</h3>
<p>UDP provides the backbone to build real-time communication applications. UDP provides a <a href="https://sookocheff.com/post/networking/how-does-udp-work/">thin wrapper over basic IP delivery</a>, and while this thin layer allows you eke out the best possible performance from your application, in most cases it is simply too thin to be useful &mdash; UDP is just too simple of a protocol to use directly for WebRTC. In particular, we need some additional logic for negotiating the connection parameters of the stream, handling encryption, and some basic forms of flow control to avoid overloading the network. To address these issues, WebRTC layers three additional protocols on top of UDP:</p>
<ul>
<li>Datagram Transport Layer Security (DTLS) is used to negotiate the secret keys for encrypting media data and for secure transport of application data.</li>
<li>Secure Real-Time Transport (SRTP) is used to transport audio and video streams.</li>
<li>Stream Control Transport Protocol (SCTP) is used to transport application data.</li>
</ul>
<h4>Datagram Transport Layer Security (DLTS)</h4>
<p>HTTP-based traffic is typically secured using TLS, which would be a perfect choice for WebRTC if it weren&rsquo;t for UDP &mdash; TLS requires reliable and in-order delivery. To address this gap, WebRTC leverages DLTS, which provides the same security guarantees as TLS, but works over UDP. In fact, DLTS is designed to be very similar to TLS, with a few modifications to make it work for UDP.</p>
<p>Each TLS connection is established using an initial handshake sequence that must be done in the correct order. UDP doesn&rsquo;t offer any delivery or ordering guarantees and the only way to fix this is to enforce ordering of packets during the initial setup of the secure connection. DLTS does this by adding an offset and sequence number to each packet in the handshake, and then adding a timeout based retry mechanism to ensure that any lost packets are retransmitted. In effect, DLTS re-implements some of the features of TCP &mdash; at least for the duration of the initial connection setup.</p>
<h4>Secure Real-Time Transport (SRTP)</h4>
<p>Once a secure connection is established, we can begin sending data over the network. Here, WebRTC reuses existing transport protocols developed for VoIP technology: SRTP and SRTCP.</p>
<p>SRTP, defined in RFCs [3550][rfc-3550] and <a href="https://www.ietf.org/rfc/rfc3711.txt">3711</a>, provides a standard header that can help the clients process the stream by synchronizing audio to video, and adjusting for out of order or lost data where necessary.</p>
<div>
<pre> 0                   1                   2                   3
 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|V=2|P|X|  CC   |M|     PT      |       sequence number         |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                           timestamp                           |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|           synchronization source (SSRC) identifier            |
+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
|            contributing source (CSRC) identifiers             |
|                             ....                              |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+</pre>
</div>
<p>Two highlights from this header are the sequence number, which enables the receiver to detect and account for out-of-order delivery of media data, and the timestamp, that allows audio and video to be synchronized,</p>
<p>Whereas SRTP is used to distribute data, a separate stream is used to handle session management and control: SCTP.</p>
<h4>Stream Control Transport Protocol (SCTP)</h4>
<p>SCTP, defined in <a href="https://www.ietf.org/rfc/rfc4960.txt">RFC 4960</a>, is used to deliver application data that isn&rsquo;t part of the real-time stream. SCTP is actually an interesting compromise that can be configured to meet the requirements of UDP or TCP, depending on the needs of the application. That is, SCTP can <em>optionally</em> provide in-order and guaranteed delivery, should the application using WebRTC choose to use it. SCTP provides similar services as TCP, but because it is tunneled over UDP and is implemented for us by the WebRTC protocol, it offers a much more powerful API: in-order or out-of-order delivery, configurable reliability guarantees, and multiplexing of data over the same connection.</p>
<h3>STUN / TURN / ICE</h3>
<p>Many browser-based APIs rely on the existing HTTP handshake to set up a connection (XHR, WebSocket, Server Sent Events). WebRTC, on the other hand, typically routes connections between individual home computers. This network architecture means that two parties in a WebRTC session are often hidden behind many layers of NATs, routers, and other Internet hardware. Within this environment, we need a method to gather the IP address and port of the computer we want to talk to. WebRTC leverages some of the existing protocols developed for routing UDP traffic for this task: STUN , TURN, and ICE.</p>
<h4>STUN &mdash; Session Traversal Utilities for NAT</h4>
<blockquote>
<p>Session Traversal Utilities for NAT (STUN) is a protocol that serves as a tool for other protocols in dealing with Network Address Translator (NAT) traversal.</p>
<p>&mdash; <cite>[RFC 5389 &mdash; Session Traversal Utilities for NAT (STUN)][rfc5389]</cite></p>
</blockquote>
<p>STUN is one protocol for dealing with NAT devices that handle UDP traffic. STUN doesn&rsquo;t handle NAT. Rather, it is a tool that NAT can use to determine the IP address and port allocated to an application. To use STUN, a client must connect to a STUN server that aids in discovering the client&rsquo;s coordinates. The following figure, from [RFC 5389][rfc5389] shows a sample deployment of STUN.</p>
<div>
<pre>                               /-----\
                             // STUN  \\
                            |   Server  |
                             \\       //
                               \-----/




                          +--------------+             Public Internet
          ................|     NAT 2    |.......................
                          +--------------+



                          +--------------+             Private NET 2
          ................|     NAT 1    |.......................
                          +--------------+




                              /-----\
                            //  STUN \\
                           |    Client |
                            \\       //               Private NET 1
                              \-----/</pre>
</div>
<p>In this figure, the STUN client is behind two NAT devices that broker communication through private networks. The STUN server resides in the public Internet. To facilitate communication of UDP through NAT devices, STUN clients make a <em>binding</em> request to STUN servers. The binding request made to the STUN server traverses any NAT devices. The NAT devices will modify the source IP and port of the packet, and when the STUN server receives the request it will appear as though the request is from the NAT device. The STUN server returns the response to the client with a copy of the NAT device&rsquo;s address. The STUN client receiving this response inspects this data to determine the coordinates that the NAT advertises for client requests. Now, the client application using STUN knows its public IP address and port and can use this data when sending requests to peers. Peers can respond to the correct IP address.</p>
<h4>TURN &mdash; Traversal Using Relays around NAT</h4>
<blockquote>
<p>This specification defines a protocol, called TURN (Traversal Using Relays around NAT), that allows the host to control the operation of the relay and to exchange packets with its peers using the relay.</p>
<p>&mdash; <cite>[RFC 5766 &mdash; Traversal Using Relays around NAT (TURN)][rfc5766]</cite></p>
</blockquote>
<p>TURN, like STUN, requires a publicly addressable server. Whereas a STUN server aids a client in discovering its IP and port, a TURN server acts as a bridge between any NAT devices and clients using UDP. In this configuration, clients communicate with the TURN server only. The following figure, from [RFC 5766][rfc5766], shows a deployment of a TURN server and the IP address and port combinations advertised to peers at each stage of communication.</p>
<div>
<pre>                                        Peer A
                                        Server-Reflexive    +---------+
                                        Transport Address   |         |
                                        192.0.2.150:32102   |         |
                                            |              /|         |
                          TURN              |            / ^|  Peer A |
    Client's              Server            |           /  ||         |
    Host Transport        Transport         |         //   ||         |
    Address               Address           |       //     |+---------+
   10.1.1.2:49721       192.0.2.15:3478     |+-+  //     Peer A
            |               |               ||N| /       Host Transport
            |   +-+         |               ||A|/        Address
            |   | |         |               v|T|     192.168.100.2:49582
            |   | |         |               /+-+
 +---------+|   | |         |+---------+   /              +---------+
 |         ||   |N|         ||         | //               |         |
 | TURN    |v   | |         v| TURN    |/                 |         |
 | Client  |----|A|----------| Server  |------------------|  Peer B |
 |         |    | |^         |         |^                ^|         |
 |         |    |T||         |         ||                ||         |
 +---------+    | ||         +---------+|                |+---------+
                | ||                    |                |
                | ||                    |                |
                +-+|                    |                |
                   |                    |                |
                   |                    |                |
             Client's                   |            Peer B
             Server-Reflexive    Relayed             Transport
             Transport Address   Transport Address   Address
             192.0.2.1:7000      192.0.2.15:50000     192.0.2.210:49191</pre>
</div>
<p>In this figure, the TURN client and the TURN server are separated by a NAT, with the client on the private side and the server on the public side. The client knows the address of the TURN server through DNS or configuration and sends traffic to the server, the TURN server is then responsible for routing the traffic to the peer on behalf of the client.</p>
<h4>ICE &mdash; Interactive Connectivity Establishment</h4>
<blockquote>
<p>This document describes a protocol for Network Address Translator (NAT) traversal for UDP-based multimedia sessions established with the offer/answer model. This protocol is called Interactive Connectivity Establishment (ICE). ICE makes use of the Session Traversal Utilities for NAT (STUN) protocol and its extension, Traversal Using Relay NAT (TURN).</p>
<p><cite>[RFC 5245 &mdash; Interactive Connectivity Establishment (ICE)][rfc5245]</cite></p>
</blockquote>
<p>ICE is designed to establish communication sessions for UDP traffic using the best possible tunnel it can find: a direct connection if possible, STUN if there is a failure with direct connect, and TURN as a last resort.</p>
<p>The basic idea behind ICE is that a client may have a number of different IP addresses, depending on how it connects to the Internet: the address of the directly attached network device, an address assigned by a NAT device, or an address assigned by a TURN server. Each of these addresses has the potential to communicate with peers on the Internet, but it can be difficult to establish which of these addresses is the correct one to use and which won&rsquo;t work. ICE is responsible for discovering which pair of addresses should be used for communicating between peers by systematically trying all possible communication pairs until it finds one that works.</p>
<h3>Signaling and Session Negotiation</h3>
<p>Before we can even use STUN, TURN, or ICE, we need to find out if the peer is reachable and wants to establish the connection. However, the other peer may not be listening for incoming packets, so how do we notify it of our intent? WebRTC solves this problem using an abstract session management interface that can use one of several existing signaling standards, depending on the application.</p>
<p>Rather than dive too deep into specfics, it is instructive to see an example: Skype. As a Skype user, if you want to make a Skype call you first have to login to Skype. This connects you to Skype&rsquo;s signaling servers, which states your intention to have a video call and your availability. When another Skype user wants to connect with you, Skype uses the existing information it has about both peers to establish a connection over UDP using the technologies we&rsquo;ve already discussed.</p>
<h2>More References</h2>
<p>WebRTC is a combination of many different technologies and building blocks, making it a fairly complex system. This article provided a brief overview of WebRTC. If you want to learn more, there are several great resources to choose from:</p>
<ul>
<li><a href="https://hpbn.co/">High Performance Browser Networking</a></li>
<li><a href="http://w3c.github.io/webrtc-pc/">WebRTC 1.0: Real-time Communication Between Browsers</a></li>
<li><a href="https://webrtc.org/architecture/">WebRTC Architecture</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API">WebRTC API</a></li>
<li><a href="https://www.ietf.org/rfc/rfc3350.txt">RFC 3350 &mdash; RTP: A Transport Protocol for Real-Time Applications</a></li>
<li><a href="https://www.ietf.org/rfc/rfc3711.txt">RFC 3711 &mdash; The Secure Real-Time Transport Protocol</a></li>
<li><a href="https://www.ietf.org/rfc/rfc3951.txt">RFC 3951 &mdash; Internet Low Bit Rate Codec (iLBC)</a></li>
<li><a href="https://www.ietf.org/rfc/rfc3952.txt">RFC 3952 &mdash; Real-time Transport Protocol (RTP) Payload Format for internet Low Bit Rate Codec (iLBC) Speech</a></li>
<li><a href="https://www.ietf.org/rfc/rfc4566.txt">RFC 4566 &mdash; SDP: Session Description Protocol</a></li>
<li><a href="https://www.ietf.org/rfc/rfc4960.txt">RFC 4960 &mdash; Stream Control Transport Protocol</a></li>
<li><a href="https://tools.ietf.org/html/rfc5245">RFC 5245 &mdash; Interactive Connectivity Establishment (ICE)</a></li>
<li><a href="https://tools.ietf.org/html/rfc5389">RFC 5389 &mdash; Session Traversal Utilities for NAT (STUN)</a></li>
<li><a href="https://tools.ietf.org/html/rfc5405">RFC 5405 &mdash; Unicast UDP Usage Guidelines for Application Designers</a></li>
<li><a href="https://tools.ietf.org/html/rfc5766">RFC 5766 &mdash; Traversal Using Relays around NAT (TURN)</a></li>
<li><a href="https://tools.ietf.org/html/rfc6347">RFC 6347 &mdash; Datagram Transport Layer Security Version 1.2</a></li>
<li><a href="https://www.ietf.org/rfc/rfc6716.txt">RFC 6716 &ndash; Definition of the Opus Audio Codec</a></li>
<li><a href="https://tools.ietf.org/html/rfc5766">RFC 7874 &mdash; WebRTC Audio Codec and Processing Requirements</a></li>
</ul>
<h4>See also</h4>
<ul>
<li><a href="https://sookocheff.com/post/networking/how-does-lte-work/">How Does LTE Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-wifi-work/">How Does WiFi Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-ethernet-work/">How Does Ethernet Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/wireless-networks-and-shannons-law/">Wireless Networks and Shannon&rsquo;s Law</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-udp-work/">How Does UDP Work?</a></li>
</ul>
</article>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
via Kevin Sookocheff https://sookocheff.com<br>
<br>
December 20, 2019 at 04:41PM