How Does TCP Work? - Kevin Sookocheff

How Does TCP Work? - Kevin Sookocheff<br>
<br>
https://ift.tt/2PFRJCr<br>
<br>
Kevin Sookocheff<br>
<br>
<div>
<div>
<div>
<div>
<article>
<p>The transmission control protocol (TCP) does one job very well &mdash; it creates an abstraction that makes an unreliable channel look like a reliable network. For applications built over an unreliable network like the Internet, TCP is a godsend that hides a lot of the inherent complexity in building networked applications. A laundry list of TCP features that application developers rely on every day includes: retransmission of lost data, in-order data delivery, data integrity, and congestion control. This article provides an introduction TCP, describing the structure of TCP segments, how TCP connections are established, and the algorithms that govern the flow of data between senders and receivers.</p>
<h2>TCP Segments</h2>
<p>TCP divides a stream of data into chunks, and then adds a TCP header to each chunk to create a TCP segment. A TCP segment consists of a header and a data section. The TCP header contains 10 mandatory fields, and an optional extension field. The payload data follows the header and contains the data for the application. The following figure from <a href="https://tools.ietf.org/html/rfc793">RFC 793</a> shows the format of a TCP segment, where each <code>-</code> represents one bit.</p>
<div>
<pre> 0                   1                   2                   3
 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|          Source Port          |       Destination Port        |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                        Sequence Number                        |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                    Acknowledgement Number                      |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|  Data |           |U|A|P|R|S|F|                               |
| Offset| Reserved  |R|C|S|S|Y|I|            Window             |
|       |           |G|K|H|T|N|N|                               |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|           Checksum            |         Urgent Pointer        |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                    Options                    |    Padding    |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                             Data                              |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+</pre>
</div>
<ul>
<li>
<strong>Source Port</strong> (16 bits): The client&rsquo;s port number.</li>
<li>
<strong>Destination Port</strong> (16 bits): The server&rsquo;s port number.</li>
<li>
<strong>Sequence Number</strong> (32 bits): A sequence number used for guaranteeing packet order.</li>
<li>
<strong>Acknowledgement Number</strong> (32 bits): An acknowledge number notifying senders of the receipt of TCP segments.</li>
<li>
<strong>Data Offset</strong> (4 bits): The size of the TCP header (i.e. where the data begins).</li>
<li>
<strong>Reserved</strong> (3 bits): Set to zero. Reserved for future use.</li>
<li>
<strong>Flags</strong> (9 bits): Flags set TCP control options used to alter the connection. For example, the <code>SYN</code> flag is used to synchronize on sequence numbers, and the <code>FIN</code> flag is used to close the connection. The full list of flags is available on <a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol#TCP_segment_structure">Wikipedia</a>.</li>
<li>
<strong>Window</strong> (16 bits): The receive window. The number of bytes that the sender of this segment is willing to receive. A key feature of TCP flow control.</li>
<li>
<strong>Checksum</strong> (16 bits): A 16-bit checksum used for error-checking.</li>
<li>
<strong>Urgent pointer</strong> (16 bits): If the sender sets the <code>URG</code> flag, then this 16-bit field is an offset from the sequence number indicating the last urgent data byte. Data received with an <code>URG</code> flag is typically placed in a separate incoming buffer to be delivered to the application, where it is up to the application to use this data correctly. For example, FTP and Telnet use the <code>URG</code> flag when sending user commands so that the server can prioritize user commands over in progress data transfer.</li>
<li>
<strong>Options</strong> (Variable 0&ndash;320 bits, divisible by 32): Options are &mdash; as the name would suggest &mdash; optional. One example option is the Maximum Segment Size. By setting this option, a sender advertises the maximum size of segments that it can process. The receiver must honour this value when sending segments.</li>
<li>
<strong>Padding</strong> (Variable 0&ndash;320 bits, divisible by 32): Zeroes. Padding ensures that the TCP header ends and data begins on a 32 bit boundary.</li>
<li>
<strong>Data</strong> (Variable length): The application specific payload data for this TCP segment.</li>
</ul>
<h2>Establishing a TCP Connection &mdash; The Three-Way Handshake</h2>
<p>All TCP connections begin with a connection algorithm called the <em>three-way handshake</em> (because it requires three network requests to successfully complete). During this handshake, both the client and the server must agree on a starting packet sequence number that is used to guarantee ordering of future packets. In point form, the handshake looks like this:</p>
<ol>
<li>SYN
<ul>
<li>The client picks a random sequence number <span><span><span><span><span>x</span></span></span></span></span>.</li>
<li>The client sends a packet with the <code>SYN</code> flag set and the <code>Sequence Number</code> field set to <span><span><span><span><span>x</span></span></span></span></span>.</li>
</ul>
</li>
<li>SYN-ACK
<ul>
<li>The server increments <span><span><span><span><span>x</span></span></span></span></span> by one.</li>
<li>The server picks a random sequence number <span><span><span><span><span>y</span></span></span></span></span>.</li>
<li>The server sends a packet with the <code>SYN</code> and <code>ACK</code> flags set, the <code>Sequence Number</code> field set to <span><span><span><span><span>y</span></span></span></span></span>, and the <code>Acknowledgement Number</code> field set to <span><span><span><span><span>x</span></span></span></span></span>.</li>
</ul>
</li>
<li>ACK
<ul>
<li>The client increments increments <span><span><span><span><span>x</span></span></span></span></span> and <span><span><span><span><span>y</span></span></span></span></span> by one.</li>
<li>The client sends a packet with the <code>ACK</code> flag sent, the <code>Sequence Number</code> field set to <span><span><span><span><span>x</span></span></span></span></span>, and the <code>Acknowledgement Number</code> field set to <span><span><span><span><span>y</span></span></span></span></span>.</li>
</ul>
</li>
</ol>
<p>After the handshake is complete, a client can start sending data packets immediately.</p>
<p>The following figure shows a successful three-way handshake. At the end of the handshake, the client begins sending application data.</p>
<div>
<figure>
<div><img alt="assets/three-way-handshake.png" src="https://sookocheff.com/post/networking/how-does-tcp-work/assets/three-way-handshake.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-tcp-work/assets/three-way-handshake.png"></a>
<figcaption>
<h4>A successful three-way handshake.</h4>
</figcaption>
</figure>
</div>
<h2>Sending Data</h2>
<p>After a TCP connection is established using the three-way handshake, TCP segments can be exchanged between the client and server. To guard against the failures introduced by the unreliable network, TCP uses sequence numbers to verify the correct delivery and ordering of TCP segments. The host on either side of a TCP session maintains a 32-bit sequence number it uses to keep track of how much data it has sent. This sequence number is included on each transmitted packet, and acknowledged by the opposite host as an acknowledgement number to inform the sending host that the transmitted data was received successfully.</p>
<blockquote>
<p>A fundamental notion in the design is that every octet of data sent over a TCP connection has a sequence number. Since every octet is sequenced, each of them can be acknowledged.</p>
<p>&mdash; <cite><a href="https://tools.ietf.org/html/rfc793">RFC 793 Transmission Control Protocol</a></cite></p>
</blockquote>
<p>More precisely, when a client sends a TCP segment with an acknowledgement number <span><span><span><span><span>x</span></span></span></span></span>, it means that the client has correctly received all data up to <span><span><span><span><span>x</span><span>&minus;</span><span>1</span></span></span></span></span>. TCP uses this mechanism to perform straight-forward duplicate detection of retransmitted segments. To do so, both sides of the connection keep track of a few variables:</p>
<ul>
<li>
<code>SND.UNA</code>: oldest unacknowledged sequence number</li>
<li>
<code>SND.NXT</code>: next sequence number to be sent</li>
<li>
<code>SEG.ACK</code>: next sequence number expected by the receiving host</li>
<li>
<code>SEG.SEQ</code>: first sequence number of a segment</li>
<li>
<code>SEG.LEN</code>: the number of octets of data in the segment</li>
<li>
<code>SEG.SEQ+SEG.LEN-1</code>: last sequence number of a segment</li>
</ul>
<p>When the sender creates a segment and transmits it, the sender advances <code>SND.NXT.</code> When the receiver accepts a segment it advances <code>RCV.NXT</code> and sends an acknowledgement. When the sender receives an acknowledgement it advances <code>SND.UNA</code>. The extent to which the values of these variables differ is a measure of the delay in the communication. If the data flow is momentarily idle and all data sent has been acknowledged then the three variables will be equal.</p>
<p>The following figure provides a visual example of data exchange between a client and server.</p>
<div>
<figure>
<div><img alt="assets/sending-data.png" src="https://sookocheff.com/post/networking/how-does-tcp-work/assets/sending-data.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-tcp-work/assets/sending-data.png"></a>
<figcaption>
<h4>Data exchange between a client and server.</h4>
</figcaption>
</figure>
</div>
<p>The client makes a request to the server for data, and the server creates a response that is divided into three TCP segments. Segment one is returned to the client without issue. Segment two (1) is dropped somewhere by the network, and segment three arrives without issue. The client, after receiving segment one, issues an acknowledgement for that segment. The client then receives segment three out of order, and sends a duplicate acknowledgement (2) for segment one to signal that it has not received data for segment two yet. The server responds to this duplicate acknowledgement (3) by resending both segments two and three, which are acknowledged by the client.</p>
<p>With this algorithm, the serve has to send segment three twice, even though it was already successfully delivered, <a href="https://tools.ietf.org/html/rfc2081">RFC 2081</a> improves the efficiency of TCP by allowing a client to say which data it has already received during an acknowledgement. The server uses this information to resend only the missing data.</p>
<h2>Closing a Connection</h2>
<p>To close a TCP connection, a sender transmits a packet with the <code>FIN</code> flag set, indicating that the sender has no more data it wishes to send. After receipt of a <code>FIN</code> segment the receiver should refuse any additional data from the client. Closing a TCP connection is a one-way operation &mdash; both sides of the connection must choose to close independently. The sender who closes the transmission must continue to receive data until the receiver also decides to close the connection.</p>
<h2>Congestion Avoidance and Control</h2>
<p>The basic TCP protocol as described was originally codified in 1981. In 1984, the Ford company found some problems using TCP over wide-area networks and documented those issues in <a href="https://tools.ietf.org/html/rfc896">RFC 896</a> (later incorporated into <a href="https://tools.ietf.org/html/rfc1122">RFC 1122</a> and <a href="https://tools.ietf.org/html/rfc6633">RFC 6633</a>).</p>
<blockquote>
<p>In heavily loaded pure datagram networks with end to end retransmission, as switching nodes become congested, the round trip time through the net increases and the count of datagrams in transit within the net also increases. This is normal behavior under load. As long as there is only one copy of each datagram in transit, congestion is under control. Once retransmission of datagrams not yet delivered begins, there is potential for serious trouble.</p>
<p>&mdash; <cite>John Nagle, <a href="https://tools.ietf.org/html/rfc896">RFC 896</a></cite></p>
</blockquote>
<p>In other words, if the roundtrip time between two nodes exceeds the maximum retransmission interval for a host, that host will resend the packet because it thinks that it was lost. The effect is that more and more copies of the same data will be sent into the network. Eventually all of the network routers and switches will be flooded with packets and all data being sent into the network will be dropped. This problem was called &ldquo;congestion collapse&rdquo;, and is fixed by introducing flow control, congestion control, and congestion avoidance.</p>
<h3>Flow Control</h3>
<p>The <code>Window</code> field in a TCP segment is the number of bytes that the sender of this segment is willing to receive in a response. Each side of a TCP connection can control how much data it is willing to receive by setting this <em>receive window</em>. If a sender is under heavy load, it can set the window to a low value to decrease pressure on itself, alternatively, if the sender is under light load and can process more information, it can advertise a high receive window indicating that it is ready to receive and process more information. Senders can also advertise a receive window of zero, indicating that the connection cannot keep up and needs time to clear the data in its buffer. The receive window size is transmitted as part of every <code>ACK</code> packet, allowing both sides of a connection to adjust the amount of data they can receive, optimizing their processing capacity.</p>
<p>In the original TCP specification, the receive window was given 16 bits of data, which implies a maximum window size of <span><span><span><span><span><span>2</span><span><span><span><span><span>&#8203;</span></span><span><span><span>1</span><span>6</span></span></span></span><span><span><span>&#8203;</span></span>&#8203;</span></span></span></span></span></span></span></span> or 65,535 bytes. This upper bound, though large at the time, doesn&rsquo;t allow high bandwidth networks to reach optimal performance. <a href="https://sookocheff.com/post/networking/how-does-tcp-work/rfc1323">RFC 1323</a> addresses this problem by introducing an option allowing clients and servers to scale the window size, reaching maximum window sizes of up to a gigabyte. During the three-way handshake, nodes can set the window scaling option representing the number of bits to left-shift the 16-bit window size for future <code>ACKS</code>.</p>
<h3>Slow Start</h3>
<p>Flow control helps senders and receivers match bandwidth rates to avoid overloading one another, but there is still a possibility of overloading the underlying network that transmits packets between senders and receivers. Slow start, described in <a href="https://tools.ietf.org/html/rfc2581">RFC 2581</a> forces TCP senders to set a <em>congestion window</em> variable limiting the amount of data a sender can push into the network before receiving an acknowledgement from a receiver. Slow start also prescribes an algorithm for senders to carefully probe the network to see how much data they should be sending.</p>
<p>At the beginning of a new network connection, there is no way for a sender to know the available bandwidth of the network. TCP Slow Start is conservative and allows a sender to transmit <em>four</em> TCP segment before receiving an acknowledgement. After an acknowledgement is received, the sender can transmit <em>eight</em> TCP segments. This pattern continues so that for every acknowledged packet, two new packets can be sent, up to the receive window limit specified by the receiver. From this, we can derive a new rule for TCP senders: the maximum amount of data that is unacknowledged is the minimum of the receive window and the congestion window.</p>
<p>The following figure shows the TCP Slow Start algorithm with an initial congestion window of one. After each successful roundtrip, the congestion window is doubled.</p>
<div>
<figure>
<div><img alt="assets/slow-start.png" src="https://sookocheff.com/post/networking/how-does-tcp-work/assets/slow-start.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-tcp-work/assets/slow-start.png"></a>
<figcaption>
<h4>TCP Slow Start algorithm.</h4>
</figcaption>
</figure>
</div>
<h3>Congestion Avoidance</h3>
<p>The TCP protocol can only ever estimate the bandwidth available in the underlying network, and must use packet loss and the congestion window variables to regulate packet flow. The slow start algorithm increases the amount of data sent to a receiver until either the receiver&rsquo;s window is reached, or packet loss occurs. If packet loss occurs, the TCP congestion avoidance algorithm starts. Congestion avoidance is designed with the assumption that packet loss is an indicator of an overloaded network, and the solution is to limit the amount of data sent by resetting the congestion window variable that senders use to regulate data flow.</p>
<blockquote>
<p>Once the congestion window is reset, congestion avoidance specifies its own algorithms for how to grow the window to minimize further loss. At a certain point, another packet loss event will occur, and the process will repeat once over.</p>
<p>&mdash; <cite><a href="https://hpbn.co/">High Performance Browser Networking</a></cite></p>
</blockquote>
<p>When packet loss does occur, TCP undergoes a congestion detection phase, followed by a congestion avoidance phase. In the congestion detection phase, the congestion window is reduced, and in the congestion avoidance phase the congestion window is slowly increased. The original TCP algorithm specified a <em>multiplicative decrease</em>, halving the size of the congestion window when congestion is detected, followed by an <em>additive increase</em>, that slowly increases the size of the congestion window by <em>one</em> each round trip.</p>
<p>The following figure, from <a href="https://www.researchgate.net/figure/Dynamics-of-TCP-Congestion-Control_fig1_280976972">ResearchGate</a>, shows the varying size of the congestion window in response to packet loss and the multiplicative decrease, additive increase algorithm.</p>
<div>
<figure>
<div><img alt="assets/congestion-control.png" src="https://sookocheff.com/post/networking/how-does-tcp-work/assets/congestion-control.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-tcp-work/assets/congestion-control.png"></a>
<figcaption>
<h4>Congestion detection and avoidance.</h4>
</figcaption>
</figure>
</div>
<p>The congestion detection and avoidance algorithm is a key feature of TCP, and its implementation has a large effect on network performance. In many cases, this algorithm is too conservative, and new algorithms have been developed (<a href="https://en.wikipedia.org/wiki/TCP_congestion_control#Algorithms">up to 13 at this point</a>). Congestion detection and avoidance are still an area of ongoing research.</p>
<h2>The Core Principles of TCP</h2>
<p>TCP is a wonderful thing. It completes a difficult task in a way that is completely transparent to the application. And even though it is complex, the core principles can be easily explained. In particular, the TCP protocol can be distilled down to a few items:</p>
<ul>
<li>A three-way handshake establishes the parameters and settings for every new connection.</li>
<li>Slow-start is applied to avoid overloading the network.</li>
<li>Flow and congestion control regulate the connection throughput.</li>
</ul>
<p>There are a lot of details in each individual item, but the essence of the protocol remains simple. TCP has a long history, and because it is a cornerstone of the internet, it is an area of continued interest and research, culminating in many RFCs and a few good books:</p>
<ul>
<li><a href="https://www.amazon.ca/TCP-IP-Illustrated-Protocols-2nd/dp/0321336313/ref=dp_ob_title_bk">TCP/IP Illustrated</a></li>
<li><a href="https://hpbn.co/">High Performance Browser Networking</a></li>
<li><a href="https://tools.ietf.org/html/rfc793">RFC 793 &mdash; Transmission Control Protocol</a></li>
<li><a href="https://tools.ietf.org/html/rfc896">RFC 896 &mdash; Congestion Control in IP/TCP Internetworks</a></li>
<li><a href="https://tools.ietf.org/html/rfc1122">RFC 1122 &mdash; Requirements for Internet Hosts &ndash; Communication Layers</a></li>
<li><a href="https://tools.ietf.org/html/rfc1323">RFC 1323 &mdash; TCP Extensions for High Performance</a></li>
<li><a href="https://tools.ietf.org/html/rfc2081">RFC 2081 &mdash; TCP Selective Acknowledgment Options</a></li>
<li><a href="https://tools.ietf.org/html/rfc2581">RFC 2581 &mdash; TCP Congestion Control</a></li>
<li><a href="https://tools.ietf.org/html/rfc3168">RFC 3168 &mdash; The Addition of Explicit Congestion Notification (ECN) to IP</a></li>
<li><a href="https://tools.ietf.org/html/rfc3540">RFC 3540 &mdash; Robust Explicit Congestion Notification (ECN) Signaling with Nonces</a></li>
<li><a href="https://tools.ietf.org/html/rfc6633">RFC 6633 &mdash; Deprecation of ICMP Source Quench Messages</a></li>
<li><a href="https://tools.ietf.org/html/rfc6937">RFC 6937 &mdash; Proportional Rate Reduction for TCP</a></li>
<li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol#TCP_segment_structure">Transmission Control Protocol Segment Structure</a></li>
</ul>
<h4>See also</h4>
<ul>
<li><a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/">How Does WebRTC Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-lte-work/">How Does LTE Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-wifi-work/">How Does WiFi Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-ethernet-work/">How Does Ethernet Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/wireless-networks-and-shannons-law/">Wireless Networks and Shannon&rsquo;s Law</a></li>
</ul>
</article>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
via Kevin Sookocheff https://sookocheff.com<br>
<br>
December 20, 2019 at 04:43PM