HTTPS 交互过程分析 | Harttle Land

HTTPS &#20132;&#20114;&#36807;&#31243;&#20998;&#26512; | Harttle Land<br>
<br>
https://ift.tt/377lO4B<br>
<br>
Jun Yang (harttle)<br>
<br>
<div>
<div>
<p>&#22914;&#20170; <a href="https://en.wikipedia.org/wiki/HTTPS">HTTPS</a> &#24050;&#32463;&#26222;&#36941;&#24212;&#29992;&#20102;&#65292;&#22312;&#24102;&#26469;&#23433;&#20840;&#24615;&#30340;&#21516;&#26102;&#20063;&#30830;&#23454;&#32473; Web &#24341;&#20837;&#20102;&#26356;&#22810;&#22797;&#26434;&#30340;&#27010;&#24565;&#12290; &#36825;&#20854;&#20013;&#23601;&#21253;&#25324;&#19968;&#31995;&#21015;&#20174;&#27809;&#35265;&#36807;&#30340;&#32593;&#32476;&#21327;&#35758;&#12290;&#29616;&#22312; <a href="https://harttle.land/">Harttle</a> &#20174;&#19968;&#20010;&#21457;&#24448; github.com &#30340;&#35831;&#27714;&#35848;&#36215;&#65292; &#36880;&#23383;&#33410;&#20998;&#26512; HTTPS &#30340;&#21327;&#35758;&#20869;&#23481;&#21644;&#30456;&#20851;&#27010;&#24565;&#65292;&#20174; TCP &#25569;&#25163;&#21040; TLS &#21327;&#35758;&#65292; &#24182;&#31245;&#24494;&#20171;&#32461;&#19968;&#20123;&#36825;&#20010;&#35831;&#27714;&#28041;&#21450;&#30340; TLS &#25193;&#23637;&#21327;&#35758;&#65306;SNI &#21644; ALPN&#12290;</p>
<p>HTTPS &#26159;&#24314;&#31435;&#22312;&#23433;&#20840;&#36890;&#20449;&#20043;&#19978;&#30340; <a href="https://harttle.land/2014/10/01/http.html">HTTP</a>&#65292; &#20351;&#29992;&#20256;&#36755;&#23618;&#21152;&#23494;&#65288;TLS &#25110; SSL&#65289;&#30340;&#25163;&#27573;&#12290; &#20854;&#30446;&#30340;&#26159;&#20445;&#25252;&#29992;&#25143;&#38544;&#31169;&#65288;&#27604;&#22914;&#38450;&#27490;&#32463;&#36807;&#30340;&#32593;&#32476;&#33410;&#28857;&#25130;&#33719; HTTP &#20869;&#23481;&#65289; &#21644;&#25968;&#25454;&#23436;&#25972;&#24615;&#65288;&#27604;&#22914;&#36816;&#33829;&#21830;&#24378;&#25554;&#24191;&#21578;&#65289;&#65292;&#23601;&#26159;&#31471;&#21040;&#31471;&#21152;&#23494;&#26469;&#38450;&#27490;&#20013;&#38388;&#20154;&#25915;&#20987;&#12290;</p>
<p>TLS/SSL &#26159;&#22312;&#20256;&#36755;&#23618;&#20043;&#19978;&#24212;&#29992;&#23618;&#20043;&#19979;&#30340;&#21327;&#35758;&#65292;&#22240;&#27492; HTTP &#21327;&#35758;&#30340;&#20869;&#23481;&#19981;&#21463;&#24433;&#21709;&#12290; &#36825;&#20123;&#21152;&#23494;&#37319;&#29992;&#38750;&#23545;&#31216;&#21152;&#23494;&#31639;&#27861;&#22240;&#27492;&#38656;&#35201;&#19968;&#20010;&#23448;&#26041;&#26469;&#21457;&#24067;&#20844;&#38053;&#65292; &#36825;&#23601;&#26159; <a href="https://harttle.land/2014/05/03/computer-network-security.html">&#23494;&#38053;&#22522;&#30784;&#35774;&#26045;</a>&#65288;CA&#65289;&#12290; &#22240;&#27492;&#21508;&#27983;&#35272;&#22120;&#20250;&#20869;&#32622;&#19968;&#20123; CA &#30340;&#26681;&#35777;&#20070;&#65292;&#36825;&#20123; CA &#21487;&#20197;&#36827;&#19968;&#27493;&#25480;&#26435;&#20854;&#20182;&#30340;&#22495;&#21517;&#65292; &#36825;&#26679;&#20320;&#30340;&#27983;&#35272;&#22120;&#23601;&#21487;&#20197;&#23545;&#27491;&#22312;&#35775;&#38382;&#30340;&#22495;&#21517;&#36827;&#34892;&#36523;&#20221;&#35748;&#35777;&#12290;</p>
<p>&#22914;&#26524;&#20320;&#35201;&#33258;&#24049;&#30340;&#26381;&#21153;&#20063;&#25903;&#25345; HTTPS &#21435; CA &#27880;&#20876;&#33258;&#24049;&#30340;&#22495;&#21517;&#23601;&#21487;&#20197;&#20102;&#12290; &#26377;&#19968;&#20123;&#20813;&#36153;&#30340; CA &#27604;&#22914; <a href="https://en.wikipedia.org/wiki/GoDaddy">GoDaddy</a>, <a href="https://en.wikipedia.org/wiki/Let%27s_Encrypt">Let&rsquo;s Encrypt</a>, <a href="https://cloudflare.com">CloudFlare</a> &#31561;&#21487;&#20197;&#36873;&#25321;&#12290;</p>
<p>&#20197;&#19979; Wireshark &#26085;&#24535;&#35760;&#24405;&#20102;&#19968;&#20010;&#21457;&#24448; <a href="https://github.com/harttle">https://github.com/harttle</a> &#30340; GET &#35831;&#27714;&#65292; &#21487;&#20197;&#30475;&#21040;&#20027;&#35201;&#30340;&#20960;&#20010;&#21327;&#35758;&#30340;&#20132;&#20114;&#36807;&#31243;&#65306;</p>
<ul>
<li>TCP&#12290;&#21069;&#19977;&#34892;&#23436;&#25104;&#19968;&#23545; SYN/ACK&#65288;&#21363;&#20439;&#31216;&#30340;&#19977;&#27425;&#25569;&#25163;&#65289;&#65292;&#33267;&#27492; TCP &#36830;&#25509;&#24050;&#32463;&#25104;&#21151;&#24314;&#31435;&#12290;</li>
<li>TLS&#12290;4-5 &#34892;&#24320;&#22987;&#20102; TLS &#25569;&#25163;&#65292;&#24314;&#31435;&#36825;&#20010;&#21152;&#23494;&#23618;&#12290;</li>
<li>TLS &#26377;&#20247;&#22810;&#25193;&#23637;&#21327;&#35758;&#27604;&#22914; SNI&#65292;NPN&#65292;ALPN &#31561;&#65288;&#35265;&#19979;&#25991;&#65289;&#65292;&#23601;&#21457;&#29983;&#22312; TLS &#30340; ClientHello &#21644; ServerHello &#38454;&#27573;&#12290;</li>
</ul>
<p><img alt="tcp dump" src="https://harttle.land/assets/img/blog/http/wireshark@2x.png"></p>
<blockquote>
<p>TCP &#21327;&#35758;&#19981;&#22312;&#26412;&#25991;&#30340;&#35752;&#35770;&#33539;&#22260;&#20869;&#65292;&#19981;&#28165;&#26970;&#30340;&#21487;&#20197;&#32763;&#38405;&#12298;&#35745;&#31639;&#26426;&#32593;&#32476;&#12299;&#25110;&#26597;&#30475; <a href="https://harttle.land/2014/04/21/computer-network-transport-layer.html">&#36825;&#31687;&#20256;&#36755;&#23618;&#31508;&#35760;</a> &#19978;&#22270;&#26469;&#33258; Wireshark &#36719;&#20214;&#65292;&#24320;&#22987;&#24405;&#21046;&#21518;&#29992; curl &#35831;&#27714; github.com &#20250;&#24471;&#21040;&#19982;&#19978;&#22270;&#31867;&#20284;&#30340;&#32467;&#26524;&#12290;</p>
</blockquote>
<p>TLS &#30340;&#21069;&#36523;&#26159; SSL&#65292;TCP/IP &#21327;&#35758;&#26632;&#20013;&#36816;&#34892;&#22312; <a href="https://tools.ietf.org/html/rfc793">TCP</a> &#20043;&#19978;&#65292; &#29992;&#26469;&#20132;&#25442;&#23494;&#38053;&#24182;&#24418;&#25104;&#19968;&#20010;&#21152;&#23494;&#23618;&#65288;Record Layer&#65289;&#12290; TLS &#26159; HTTPS &#30340;&#26680;&#24515;&#21327;&#35758;&#65292;HTTPS &#20132;&#20114;&#19982; HTTP &#20132;&#20114;&#30340;&#20027;&#35201;&#21306;&#21035;&#23601;&#22312;&#36825;&#19968;&#23618;&#65306;</p>
<p><img alt="tls" src="https://harttle.land/assets/img/blog/http/https@2x.png"></p>
<p>&#24320;&#22987;&#20256;&#36755;&#23494;&#25991;&#21069;&#38656;&#35201;&#36827;&#34892;&#20114;&#25442;&#23494;&#38053;&#12289;&#39564;&#35777;&#26381;&#21153;&#22120;&#35777;&#20070;&#31561;&#20934;&#22791;&#24037;&#20316;&#65292; &#22240;&#27492; TLS &#20063;&#23384;&#22312;&#25569;&#25163;&#38454;&#27573;&#65292;&#20027;&#35201;&#27493;&#39588;&#20026;&#65306;&#23458;&#25143;&#31471;&#21457;&#36865; ClientHello&#65292; &#26381;&#21153;&#22120;&#21457;&#36865; ServerHello&#65292;&#26381;&#21153;&#22120;&#32487;&#32493;&#21457;&#36865; Certificate&#65292; &#28982;&#21518;&#20114;&#30456;&#21457;&#36865; KeyExchange &#28040;&#24687;&#65292;&#26368;&#21518;&#21457;&#36865; ChangeCipherSpec &#26469;&#36890;&#30693;&#23545;&#26041;&#21518;&#32493;&#37117;&#26159;&#23494;&#25991;&#12290; &#20855;&#20307;&#20132;&#20114;&#21644;&#21327;&#35758;&#23383;&#27573;&#35831;&#21442;&#32771; <a href="https://tools.ietf.org/html/rfc5246">RFC 5246</a>&#65288;TLSv1.2&#65289;&#21644; <a href="https://tools.ietf.org/html/rfc6176">RFC 6176</a>&#65288;TLSv2.0&#65289;&#12290;</p>
<p>TLS &#20316;&#20026; TCP/IP &#21327;&#35758;&#26632;&#20013;&#30340;&#21152;&#23494;&#21327;&#35758;&#26377;&#24191;&#27867;&#30340;&#29992;&#36884;&#65292;&#20026;&#25903;&#25345;&#36890;&#29992;&#26426;&#21046;&#30340;&#21327;&#35758;&#25193;&#23637;&#65292; &#23450;&#20041;&#20102; <a href="https://tools.ietf.org/html/rfc4366">RFC 4366 - TLS Extensions</a>&#12290; TLS &#20808;&#21518;&#34987;&#37038;&#20214;&#26381;&#21153;&#12289;Web &#26381;&#21153;&#12289;FTP &#31561;&#37319;&#29992;&#65292;&#36825;&#37324;&#26377;&#19968;&#20010; <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security#Extensions">&#25193;&#23637;&#21327;&#35758;&#21015;&#34920;</a>&#12290;</p>
<p>&#26412;&#25991;&#20851;&#27880;&#20854;&#20013; Web &#26381;&#21153;&#65288;HTTPS&#65289;&#30456;&#20851;&#30340;&#25193;&#23637;&#65292;&#22914; SNI, NPN, ALPN&#12290; &#36825;&#20123;&#21327;&#35758;&#36890;&#36807;&#25193;&#23637; TLS &#30340; ClientHello/ServerHello &#28040;&#24687;&#20026; TLS &#22686;&#21152;&#26032;&#30340;&#21151;&#33021;&#12290; &#20026;&#27492;&#25105;&#20204;&#20808;&#30475;&#19968;&#19979; ClientHello &#28040;&#24687;&#30340;&#32467;&#26500;&#65288;ServerHello &#31867;&#20284;&#65289;&#65306;</p>
<div>
<div>
<pre><code><span>struct</span> <span>{</span>
    <span>ProtocolVersion</span> <span>client_version</span><span>;</span>
    <span>Random</span> <span>random</span><span>;</span>
    <span>SessionID</span> <span>session_id</span><span>;</span>
    <span>CipherSuite</span> <span>cipher_suites</span><span>&lt;</span><span>2..2</span><span>^</span><span>16</span><span>-</span><span>2</span><span>&gt;</span><span>;</span>
    <span>CompressionMethod</span> <span>compression_methods</span><span>&lt;</span><span>1..2</span><span>^</span><span>8</span><span>-</span><span>1</span><span>&gt;</span><span>;</span>
    <span>select</span> <span>(</span><span>extensions_present</span><span>)</span> <span>{</span>
        <span>case</span> <span>false</span><span>:</span>
            <span>struct</span> <span>{};</span>
        <span>case</span> <span>true</span><span>:</span>
            <span>Extension</span> <span>extensions</span><span>&lt;</span><span>0..2</span><span>^</span><span>16</span><span>-</span><span>1</span><span>&gt;</span><span>;</span>
    <span>};</span>
<span>}</span> <span>ClientHello</span><span>;</span>
</code></pre>
</div>
</div>
<p>&#27880;&#24847;&#26368;&#21518;&#19968;&#20010;&#23383;&#27573;&#65292;&#26368;&#22810;&#21487;&#20197;&#26377; 65536 &#20010; <code>Extension</code>&#65292; &#20854;&#20013; <code>Extension</code> &#23450;&#20041;&#20026;&#19968;&#20010;&#20004;&#23383;&#33410;&#30340; <code>ExtensionType</code> &#20197;&#21450;&#23545;&#24212;&#30340;&#19981;&#36879;&#26126;&#25968;&#25454;&#12290; &#19979;&#25991;&#30340; SNI&#65292;NPN&#65292;ALPN &#37117;&#26159;&#20854;&#20013;&#20043;&#19968;&#12290;</p>
<p><a href="https://en.wikipedia.org/wiki/Server_Name_Indication">SNI</a>&#65288;Server Name Indication&#65289; &#25351;&#23450;&#20102; TLS &#25569;&#25163;&#26102;&#35201;&#36830;&#25509;&#30340; <a href="https://en.wikipedia.org/wiki/Hostname">&#20027;&#26426;&#21517;</a>&#12290; SNI &#21327;&#35758;&#26159;&#20026;&#20102;&#25903;&#25345;&#21516;&#19968;&#20010; IP&#65288;&#21644;&#31471;&#21475;&#65289;&#25903;&#25345;&#22810;&#20010;&#22495;&#21517;&#12290;</p>
<p>HTTPS &#30340;&#20851;&#38190;&#23601;&#22312;&#20110;&#22312;&#21457;&#36865;&#30495;&#27491;&#30340; HTTP &#35831;&#27714;&#21069;&#65292;&#23458;&#25143;&#31471;&#39564;&#35777;&#26381;&#21153;&#22120;&#25552;&#20379;&#30340;&#35777;&#20070;&#26469;&#37492;&#21035;&#30495;&#20266;&#12290; &#20110;&#26159;&#23458;&#25143;&#31471;&#20250;&#22312; TLS &#21327;&#35758;&#20013;&#35831;&#27714;&#26381;&#21153;&#22120;&#30340;&#35777;&#20070;&#65288;Certificate&#65289;&#65292;&#27492;&#26102;&#23458;&#25143;&#31471;&#38656;&#35201;&#25351;&#23450;&#35201;&#35831;&#27714;&#21738;&#20010;&#22495;&#21517;&#30340;&#35777;&#20070;&#12290; &#36825;&#37324;&#26377;&#20004;&#20010;&#21327;&#35758;&#32454;&#33410;&#65306;</p>
<ol>
<li>&#26381;&#21153;&#22120;&#33258;&#24049;&#19981;&#30693;&#36947;&#22495;&#21517;&#26159;&#21861;&#20040;&#65311;&#21487;&#33021;&#30830;&#23454;&#19981;&#30693;&#36947;&#65292;&#22240;&#20026;&#19968;&#20010;&#26381;&#21153;&#22120;&#21487;&#33021;&#27491;&#22312;&#25552;&#20379;&#22810;&#20010;&#22495;&#21517;&#22810;&#20010;&#32593;&#31449;&#65292;&#22240;&#27492;&#21487;&#33021;&#26377;&#22810;&#20010;&#35777;&#20070;&#65292;&#19981;&#30693;&#36947;&#35813;&#21457;&#36865;&#21738;&#20010;&#12290;</li>
<li>&#22495;&#21517;&#19981;&#23601;&#22312; HTTP &#30340;&#35831;&#27714;&#22836; Host &#23383;&#27573;&#20013;&#21527;&#65311;TLS &#25569;&#25163;&#26102;&#36824;&#22312;&#39564;&#35777;&#26381;&#21153;&#22120;&#36523;&#20221;&#22240;&#27492; HTTP &#20132;&#20114;&#36824;&#27809;&#24320;&#22987;&#65292;&#23458;&#25143;&#31471;&#36824;&#27809;&#21457;&#36865; HTTP &#35831;&#27714;&#22836;&#12290;</li>
</ol>
<p>SNI &#21327;&#35758;&#30340;&#20869;&#23481;&#23450;&#20041;&#22312; <a href="https://tools.ietf.org/html/rfc6066">RFC 6066</a> &#20013;&#65292;&#19979;&#38754;&#26159;&#23427;&#30340;&#32467;&#26500;&#25551;&#36848;&#65306;</p>
<div>
<div>
<pre><code><span>struct</span> <span>{</span>
    <span>NameType</span> <span>name_type</span><span>;</span>
    <span>select</span> <span>(</span><span>name_type</span><span>)</span> <span>{</span>
        <span>case</span> <span>host_name</span><span>:</span> <span>HostName</span><span>;</span>
    <span>}</span> <span>name</span><span>;</span>
<span>}</span> <span>ServerName</span><span>;</span>

<span>enum</span> <span>{</span>
    <span>host_name</span><span>(</span><span>0</span><span>),</span> <span>(</span><span>255</span><span>)</span>
<span>}</span> <span>NameType</span><span>;</span>

<span>opaque</span> <span>HostName</span><span>&lt;</span><span>1..2</span><span>^</span><span>16</span><span>-</span><span>1</span><span>&gt;</span><span>;</span>
<span>struct</span> <span>{</span>
    <span>ServerName</span> <span>server_name_list</span><span>&lt;</span><span>1..2</span><span>^</span><span>16</span><span>-</span><span>1</span><span>&gt;</span>
<span>}</span> <span>ServerNameList</span><span>;</span>
</code></pre>
</div>
</div>
<p>&#25105;&#20204;&#30475;&#26412;&#25991;&#21018;&#24320;&#22987;&#30340;&#20363;&#23376;&#65292;&#31532;4&#34892;&#21457;&#24448; github.com &#30340; <a href="https://tools.ietf.org/html/rfc5246#section-7.4.1.2">ClientHello</a> &#20013;&#30340; SNI Extension &#23383;&#27573;&#65306;</p>
<div>
<div>
<pre><code>Extension Header     ||            Extension Payload (SNI)
---------------------------------------------------------------------------------------------------
ExtensionType Length || PayloadLength Type      ServerLength ServerName
---------------------------------------------------------------------------------------------------
00 00         00 0f  00 0d            00        00 0a        67 69 74 68 75 62 2e 63 6f 6d
sni(0)        15     || 13            host_name 10           github.com
</code></pre>
</div>
</div>
<p><a href="https://en.wikipedia.org/wiki/Application-Layer_Protocol_Negotiation">ALPN</a>&#65288;Application-Layer Protocol Negotiation&#65289;&#20063;&#26159; TLS &#23618;&#30340;&#25193;&#23637;&#65292;&#29992;&#20110;&#21327;&#21830;&#24212;&#29992;&#23618;&#20351;&#29992;&#30340;&#21327;&#35758;&#12290; &#29992;&#26469;&#30830;&#23450;&#24314;&#31435; TLS &#36830;&#25509;&#21518;&#25509;&#19979;&#26469;&#35201;&#20351;&#29992;&#30340;&#21327;&#35758;&#65292;&#27604;&#22914;&#26159; HTTP1.1 &#36824;&#26159; HTTP/2&#65311; ALPN &#30340;&#21069;&#36523;&#26159; <a href="https://tools.ietf.org/html/draft-agl-tls-nextprotoneg-04">NPN</a>&#65292;&#26368;&#21021;&#29992;&#20110;&#21327;&#21830;&#21644;&#20999;&#25442; HTTP &#21327;&#35758;&#21644; Google SPDY &#21327;&#35758;&#65292;&#21518;&#32773;&#29616;&#22312;&#24050;&#32463;&#26631;&#20934;&#21270;&#20026; HTTP/2&#12290; &#30001;&#20110; TLS &#23458;&#25143;&#31471;&#21644;&#26381;&#21153;&#22120;&#29256;&#26412;&#19981;&#19968;&#33268;&#30340;&#38382;&#39064;&#65292;&#23548;&#33268; SPDY-&gt;HTTP/2 &#30340;&#20999;&#25442;&#21644; NPN -&gt; ALPN &#30340;&#20999;&#25442;&#36807;&#31243;&#20013;&#24341;&#21457;&#20102;&#19981;&#23569;&#38382;&#39064;&#65306;</p>
<ul>
<li><a href="https://ma.ttias.be/day-google-chrome-disables-http2-nearly-everyone-may-31st-2016/">The day Google Chrome disables HTTP/2</a></li>
<li><a href="https://imququ.com/post/why-tls-handshake-failed-with-http2-enabled.html">&#20174;&#21551;&#29992; HTTP/2 &#23548;&#33268;&#32593;&#31449;&#26080;&#27861;&#35775;&#38382;&#35828;&#36215;</a></li>
</ul>
<p>&#22240;&#27492; <strong>&#20197;&#26631;&#20934;&#20808;&#34892;&#30340;&#26041;&#24335;&#26469;&#25512;&#36827; Web &#22522;&#30784;&#35774;&#26045;</strong> &#24050;&#25104;&#20026;&#20170;&#26085; Web &#24179;&#21488;&#30340;&#20849;&#35782;&#12290;&#35328;&#24402;&#27491;&#20256;&#65292;ALPN &#23450;&#20041;&#22312; <a href="https://tools.ietf.org/html/rfc7301">RFC 7301 - Transport Layer Security (TLS) Application-Layer Protocol Negotiation Extension</a>&#65292;</p>
<div>
<div>
<pre><code>enum {
    application_layer_protocol_negotiation(16), (65535)
} ExtensionType;

opaque ProtocolName&lt;1..2^8-1&gt;;

struct {
    ProtocolName protocol_name_list&lt;2..2^16-1&gt;
} ProtocolNameList;
</code></pre>
</div>
</div>
<p>&#25105;&#20204;&#30475;&#26412;&#25991;&#21018;&#24320;&#22987;&#30340;&#20363;&#23376;&#65292;&#31532;4&#34892;&#21457;&#24448; github.com &#30340; <a href="https://tools.ietf.org/html/rfc5246#section-7.4.1.2">ClientHello</a> &#20013;&#30340; ALPN Extension &#23383;&#27573;&#65306;</p>
<div>
<div>
<pre><code>Extension Header     ||            Extention Payload (ALPN)
---------------------------------------------------------------------------------------------------
ExtensionType Length || PayloadLength StringLength Protocol StringLength Protocol
---------------------------------------------------------------------------------------------------
00 10         00 0e  00 0c            02           68 32    08           68 74 74 70 2f 31 2e 31
alpn(16)      14     || 12            2            h2       8            http/1.1
</code></pre>
</div>
</div>
<p>Extention &#30340;&#28040;&#24687;&#20307;&#21253;&#21547;&#22810;&#20010;&#23383;&#31526;&#20018;&#65288;<code>protocol_name_list</code>&#65289;&#65292;&#34920;&#31034;&#23458;&#25143;&#31471;&#25903;&#25345;&#30340;&#25152;&#26377;&#24212;&#29992;&#23618;&#21327;&#35758;&#12290; &#19978;&#38754;&#30340;&#20363;&#23376;&#20013;&#26377; <code>h2</code> &#21644; <code>http/1.1</code> &#20004;&#20010;&#65292;&#25903;&#25345; SPDY &#30340;&#23458;&#25143;&#31471;&#36825;&#37324;&#20250;&#22810;&#19968;&#20010; <code>spdy/2</code>&#12290; &#26381;&#21153;&#22120;&#32473;&#20986;&#30340; ServerHello &#20013;&#38656;&#35201;&#36873;&#25321;&#20854;&#20013;&#20043;&#19968;&#65292;&#26412;&#25991;&#30340;&#20363;&#23376;&#20013; ServerHello &#30340; ALPN &#23383;&#27573;&#20026;&#65306;</p>
<div>
<div>
<pre><code>00 10 00 0b 00 09 08 68 74 74 70 2f 31 2e 31
                     h  t  t  p  /  1  .  1
</code></pre>
</div>
</div>
<p>&#36825;&#26679; Server &#21644; Client &#23601;&#21033;&#29992; ALPN &#21327;&#35758;&#36798;&#25104;&#20102;&#20849;&#35782;&#65292;&#23558;&#20250;&#22312;&#25569;&#25163;&#32467;&#26463;&#21518;&#20351;&#29992; HTTP/1.1 &#21327;&#35758;&#36827;&#34892;&#36890;&#20449;&#12290;</p>
<p>&#20174; HTTPS &#30340;&#20851;&#38190;&#19968;&#23618; TLS &#24320;&#22987;&#65292;&#20171;&#32461;&#20102;&#19968;&#20010;&#20856;&#22411;&#30340; HTTPS &#20132;&#20114;&#36807;&#31243;&#12290; &#32467;&#21512;&#25235;&#21253;&#32473;&#20986;&#30340;&#23383;&#33410;&#24207;&#21015;&#65292;&#20381;&#27425;&#20171;&#32461;&#20102; TLS&#12289;SNI&#12289;ALPN &#31561;&#21327;&#35758;&#21407;&#29702;&#21644;&#20027;&#35201;&#20869;&#23481;&#12290; &#24863;&#35874; Web &#19978;&#30340;&#20247;&#22810;&#36164;&#26009;&#65292;&#24863;&#35874; Jerry Qu&#65292;oott123&#65292;&#24863;&#35874;&#20197;&#19979;&#25991;&#26723;&#21644;&#21338;&#23458;&#65306;</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/HTTPS">HTTPS Wiki</a></li>
<li><a href="https://en.wikipedia.org/wiki/Transport_Layer_Security">TLS Wiki</a></li>
<li><a href="http://zlb.me/2013/07/19/npn-and-alpn/">Zlbruce&rsquo;s Blog: NPN &#19982; ALPN</a></li>
<li><a href="https://imququ.com/post/enable-alpn-asap.html">&#20026;&#20160;&#20040;&#25105;&#20204;&#24212;&#35813;&#23613;&#24555;&#25903;&#25345; ALPN&#65311;</a></li>
<li><a href="https://tools.ietf.org/html/rfc793">RFC 793 - TRANSMISSION CONTROL PROTOCOL</a></li>
<li><a href="https://tools.ietf.org/html/rfc5246">RFC 5246 - The Transport Layer Security (TLS) Protocol Version 1.2</a></li>
<li><a href="https://tools.ietf.org/html/rfc6176">RFC 6176 - Prohibiting Secure Sockets Layer (SSL) Version 2.0</a></li>
<li><a href="https://tools.ietf.org/html/rfc4366">RFC 4366 - Transport Layer Security (TLS) Extensions</a></li>
<li><a href="https://tools.ietf.org/html/rfc6066">RFC 6066 - Transport Layer Security (TLS) Extensions: Extension Definitions</a></li>
<li><a href="https://tools.ietf.org/html/draft-agl-tls-nextprotoneg-04">IETF - Transport Layer Security (TLS) Next Protocol Negotiation Extension</a></li>
<li><a href="https://tools.ietf.org/html/rfc7301">RFC 7301 - Transport Layer Security (TLS) Application-Layer Protocol Negotiation Extension</a></li>
</ul>
<p>&#26412;&#25991;&#37319;&#29992; <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">&#30693;&#35782;&#20849;&#20139;&#32626;&#21517; 4.0 &#22269;&#38469;&#35768;&#21487;&#21327;&#35758;</a>&#65288;CC-BY 4.0&#65289;&#36827;&#34892;&#35768;&#21487;&#65292;&#36716;&#36733;&#27880;&#26126;&#26469;&#28304;&#21363;&#21487;&#65306; <a href="https://harttle.land/2018/03/25/https-protocols.html">https://harttle.land/2018/03/25/https-protocols.html</a>&#12290;&#23398;&#35782;&#31895;&#27973;&#20889;&#20316;&#20179;&#20419;&#65292;&#22914;&#26377;&#38169;&#35823;&#36763;&#33510;&#35780;&#35770;&#25110; <a href="mailto:yangjvn@126.com">&#37038;&#20214;</a> &#25351;&#20986;&#12290;</p>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
via harttle.land https://harttle.land<br>
<br>
November 15, 2019 at 11:19AM