How Does HTTP/2 Work? - Kevin Sookocheff

How Does HTTP/2 Work? - Kevin Sookocheff<br>
<br>
https://ift.tt/2PIwdgy<br>
<br>
Kevin Sookocheff<br>
<br>
<div>
<div>
<div>
<div>
<article>
<p><em>Note: To make this easier to read (and write), <strong>h1</strong> may be used in place of HTTP/1, and <strong>h2</strong> may used in place of HTTP/2.</em></p>
<hr>
<p>HTTP/1 has a long and storied history. Originally developed as a sixty page specification documented in <a href="https://tools.ietf.org/html/rfc1945">RFC 1945</a>, it was designed to handle text-based pages that leverage hypermedia to connect documents to each other. Typical web pages would kilobytes of data. For example, the <a href="http://info.cern.ch/hypertext/WWW/TheProject.html">first web page</a> was a simple text file with web links to other text documents. Now, the web is made up of media-rich sites containing images, scripts, stylesheets, fonts, and more. The size of a typical web page is <a href="https://httparchive.org/reports/state-of-the-web#bytesTotal">measured in megabytes rather than kilobytes</a>, and the number of requests required to assemble a full page <a href="https://httparchive.org/reports/state-of-the-web#reqTotal">can be over one hundred</a>. The reality of how web pages are built today does not match the reality that HTTP/1 was designed to support.</p>
<h2>Problems with HTTP/1</h2>
<p>The web was built on h1, but it is not well-suited to the world we live in today, where where web pages contain more bytes, more objects, and more complexity, with no end in sight. Pushing h1 to the edges of its design has given us significant performance and usability problems. Unfortunately, some flaws in h1 cannot be worked around, and they continue to plague web development today.</p>
<h3>Head of line blocking</h3>
<p>In h1, the protocol allows you to send a request while waiting for the response of a previous request. Called &ldquo;pipelining&rdquo;, this would allow browsers to request a web page, along with any CSS or Javascript required to render the page, all at once. The server can begin responding to these requests all at once, but the synchronous nature of HTTP&rsquo; request/response workflow must block to receive responses request-response workflow must block to receive responses one at a time, in the order that they were sent. This is called &ldquo;head of line blocking&rdquo;. One workaround to the head of line blocking problem is to open more than one TCP connection to the server, which is why browsers today typically allow six connections to the same domain. This workaround helps address the symptom, but does not solve the problem.</p>
<h3>Inefficient use of TCP/IP</h3>
<p>TCP is designed to be reliable over poor network connections by using the TCP &ldquo;congestion window&rdquo;, which tracks the number of packets that can be sent without them being acknowledged as received. For example, if the congestion window is set to one, then the client sends one request, receives one request, and then sends the next. To increase the bandwidth of the connection, TCP sends one additional unacknowledged packet for every acknowledged packet, until it reaches maximum bandwidth. Each TCP connection has to go through this same slow start procedure before operating at peak performance. If we try and scale HTTP to handle the large number of resources that make up a typical web page by increasing the number of TCP connections, each connection has to suffer through the same slow start algorithm before reaching optimal performance. This problems is exacerbated by distributing web pages over multiple domains and using a new TCP connection for each domain. With many web pages needing over 100 HTTP requests to render a full page, this inefficiency is becomes significant at web scale.</p>
<p>Each HTTP request includes a set of HTTP headers. These headers are full text strings and can include cookies (which can be quite large). Because HTTP is fully stateless, each request must include the entire set of HTTP headers with each request. Throughout the lifetime of a user session on a web page, this results in a lot of duplicated data. Workarounds for this include serving images from a cookie-less domain, which increases the complexity of development and deployment.</p>
<h2>The HTTP/2 Solution</h2>
<p>HTTP/2 is designed to solve all of the design deficiencies of HTTP/1. It uses a multiplexed TCP/IP connection to make multiple HTTP requests at the same time, solving the head of line blocking problem. It reuses a TCP/IP connection for multiple requests, limiting the overhead of creating and destroying many connections. It leverages header compression and deduplication to both limit the amount of duplicate data sent through HTTP headers, and compress the Header data that is sent. Together, the design of HTTP/2 provides significant performance benefits, and it provides significant usability benefits for developers by reducing the number of workarounds and kludges needed to develop high performance websites.</p>
<h2>An Overview of the HTTP/2 Protocol</h2>
<blockquote>
<p>At the core of all performance enhancements of HTTP/2 is the new binary framing layer, which dictates how the HTTP messages are encapsulated and transferred between the client and server.</p>
<p>&mdash; <cite><a href="https://developers.google.com/web/fundamentals/performance/http2/">Introduction to HTTP/2</a></cite></p>
</blockquote>
<p>Whereas h1 is text delimited, h2 is <em>framed</em>, meaning that a chunk of data (a message) is divided into a number of discrete chunks, with the size of the chunk encoded in the frame. The following diagram, from <a href="https://developers.google.com/web/fundamentals/performance/http2/">Introduction to HTTP/2</a>, shows where h2 sits on the networking stack, and shows how an h1 request is related to an h2 <code>HEADERS</code> frame and <code>DATA</code> frame.</p>
<div>
<figure>
<div><img alt="assets/binary-framing.svg" src="https://sookocheff.com/post/networking/how-does-http-2-work/assets/binary-framing.svg"></div>
<a href="https://sookocheff.com/post/networking/how-does-http-2-work/assets/binary-framing.svg"></a>
<figcaption>
<h4>HTTP/2 in relation to HTTP/1.</h4>
</figcaption>
</figure>
</div>
<p>h2 is an application-level protocol that operates over a TLS connection. TLS is in turn built on top of the TCP/IP networking stack. With h1, a separate TCP/IP connection is used for each request. In contrast, h2 uses the same TCP/IP connection for multiple requests. In addition, these requests can be parallelized (multiplexed) so that a single TCP/IP connection can process many separate HTTP requests concurrently. In the following figure, from <a href="https://developers.google.com/web/fundamentals/performance/http2/">Introduction to HTTP/2</a>, we see how a single TCP/IP connection is divided into multiple <em>Streams</em>, where each stream contains an HTTP request <em>message</em> and an HTTP response message. These messages can contain one more more <em>frames</em>.</p>
<div>
<figure>
<div><img alt="assets/streams-messages-frames.svg" src="https://sookocheff.com/post/networking/how-does-http-2-work/assets/streams-messages-frames.svg"></div>
<a href="https://sookocheff.com/post/networking/how-does-http-2-work/assets/streams-messages-frames.svg"></a>
<figcaption>
<h4>Streams, messages, and frames</h4>
</figcaption>
</figure>
</div>
<p>In summary, h2 is made up of the following terms:</p>
<ul>
<li>Stream: A bidirectional flow of bytes in a TCP/IP connection. A stream may send one or more messages.</li>
<li>Message: A sequence of frames that create an HTTP request or response.</li>
<li>Frame: The actual data being sent, along with the stream it belongs to.</li>
</ul>
<p>The rest of this article will map these terms to the h2 implementation.</p>
<h2>Establishing an HTTP/2 Connection</h2>
<p>HTTP/2 (h2), like HTTP/1, is an application-layer protocol that runs on top of a TCP connection and uses the same &ldquo;http://&rdquo; and &ldquo;https://&rdquo; URI schemes as used by HTTP/1. Because h2 uses the same scheme as h1, it is easy for applications to start using h2 with minimal changes. It also means that clients and servers need to negotiate which protocol to use before simply sending h2 data over the wire.</p>
<p>The <a href="https://tools.ietf.org/html/rfc7540">h2 specification</a>, allows for you to use HTTP/2 over an unsecure &ldquo;http://&rdquo; scheme, but browsers have not implemented this (and most do not plan to). I will therefore focus on describing the negotiation of an HTTP/2 exchange over a secure TLS connection. In fact, leveraging TLS provides an existing mechanism for negotiating the communication protocol used by the connection, <a href="https://en.wikipedia.org/wiki/Application-Layer_Protocol_Negotiation">the Application-Layer Protocol Negotiation (ALPN) extension</a>. ALPN is a TLS extension specifically built for doing application layer protocol negotiation over a TLS connection.</p>
<blockquote>
<p>ALPN allows the application layer to negotiate which protocol should be performed over a secure connection in a manner that avoids additional round trips and which is independent of the application layer protocols.</p>
<p>&mdash; <cite>Application-Layer Protocol Negotiation, <a href="https://en.wikipedia.org/wiki/Application-Layer_Protocol_Negotiation">Wikipedia</a></cite></p>
</blockquote>
<p>ALPN includes the protocol negation within the exchange of the TLS handshake. The first step of establishing a <a href="https://tools.ietf.org/html/rfc5246#section-7.3">TLS connection</a> is to exchange what are called &ldquo;hello messages&rdquo; that allow the client and server to &ldquo;agree on algorithms, exchange random values, and check for session resumption&rdquo;. With ALPN, the client sends a list of supported protocols to the server as part of the client&rsquo;s hello message, and the server selects a protocol from this list and sends it back to the client as part of the server&rsquo;s hello message. The canonical source for ALPN is <a href="https://tools.ietf.org/html/rfc7301">RFC 7301</a>.</p>
<p>In addition to agreeing on h2 is the protocol for the TLS connection, the client and the server must send a pre-defined &ldquo;connection preface&rdquo; as a final confirmation of the protocol, and to establish any initial settings for the h2 connection. The client begins by sending the string <code>PRI * HTTP/2.0\r\n\r\nSM\r\n\r\n</code> as the first data of the TLS connection. The client must follow this string with an h2 <code>SETTINGS</code> frame. The server responds with a <code>SETTINGS</code> frame. From this point forward, a valid HTTP/2 connection is established. It&rsquo;s worth noting that the client can send data immediately after sending their connection preface to avoid latency. This data may turn out to be invalid if the client and server cannot complete the connection.</p>
<p>In summary, establishing an HTTP/2 connection requires:</p>
<ul>
<li>Establishing a TLS connection</li>
<li>Negotiating h2 as the protocol for the TLS extension using ALPN</li>
<li>The client sending (and server receiving) an h2 connection preface and SETTINGS frame</li>
<li>The server sending (and client receiving) an h2 SETTINGS frame.</li>
</ul>
<h2>HTTP/2 Frames</h2>
<p>Whereas h1 is text delimited, h2 is <em>framed</em>. One of the most important features of framing is letting a server know ahead of time how much content to expect. At first glance, this may seem like a small improvement, but it allows us to vastly simplify the server implementation. For example, one big advantage of knowing the frame length is the ability to interleave and multiplex requests and responses. With h1, you need to go through a complete request and response cycle individually because you don&rsquo;t know how much additional data is coming from the same request. With h2, know the size of a frame allows us to lift this restriction.</p>
<p>An h2 frame has the following format (provided directly from <a href="https://tools.ietf.org/html/rfc7540#section-4.1">RFC 7540</a>). The number alongside each portion of the frame is the number of bits dedicated to that field.</p>
<div>
<pre>+-----------------------------------------------+
|                 Length (24)                   |
+---------------+---------------+---------------+
|   Type (8)    |   Flags (8)   |
+-+-------------+---------------+-------------------------------+
|R|                 Stream Identifier (31)                      |
+-+-------------------------------------------------------------+
|                   Frame Payload (0...)                      ...
+---------------------------------------------------------------+</pre>
</div>
<ul>
<li>
<strong>Length</strong>: 24 bits storing the length of the frame payload</li>
<li>
<strong>Type</strong>: 8 bits storing the type of this frame. There are different frame types that serve different purposes. Encoding the type as part of the frame allows the client and server to understand the semantics of the incoming payload and parse it appropriately.</li>
<li>
<strong>Flags</strong>: 8 bits storing any boolean modifiers that apply to this frame type. These modifiers are specific to the frame type and control the set of options that</li>
<li>
<strong>R</strong>: 1 bit reserved for future use.</li>
<li>
<strong>Stream Identifier</strong>: 31 bits that uniquely identify each stream of this connection.</li>
<li>
<strong>Frame Payload</strong>: A variable length field containing the actual payload for this frame. The structure and content of the payload is dependent entirely on the frame type.</li>
</ul>
<h3>Frame Types</h3>
<p>There are several different frame types that each serve a specific purpose. This section lists the frame types necessary for an HTTP request/response interaction. The full list of frame types is listed in <a href="https://tools.ietf.org/html/rfc7540#section-6">RFC 7540</a>.</p>
<h4>SETTINGS</h4>
<p>The <code>SETTINGS</code> frame is used by both clients and servers to specify connection-level parameters that are applied to all streams that make up the connection. A common use case for <code>SETTINGS</code> is advertising flow control requirements.</p>
<p>The <code>HEADERS</code> frame is used to open a stream for upcoming data, and serves the additional purpose of sending HTTP headers. In contrast to h1, h2 HTTP headers are not sent with every request. Rather, they are sent once to begin a stream, and the headers specified in the <code>HEADERS</code> frame are used throughout the lifetime of the stream.</p>
<h4>DATA</h4>
<p><code>DATA</code> frames encode the application payload data. With h2, <code>DATA</code> frames are used to transmit the HTTP request and response payloads.</p>
<h2>Streams</h2>
<p>One of the key benefits of h2 is the ability to multiplex multiple requests and responses over the same TCP/IP connection. This is facilitated with <em>streams</em>. Each stream is an independent and bidirectional sequence of frames exchanged between client and server. You can think of a stream as a series of frames that together create an HTTP request/response pair. For each new request made by the client, we initiate a new stream and give it a unique identifier. The server will respond to the stream using the same identifier.</p>
<p>A new stream is initiated by sending a <code>HEADERS</code> frame. Each subsequent stream is started with a new <code>HEADERS</code> frame. If you have a lot of headers, you can send additional ones using a <code>CONTINUATION</code> frame. The end of headers is signified by setting the <code>END_HEADERS</code> bit on the <code>Flags</code> field of the frame. This bit signals that no more headers will arrive and that the stream is now &ldquo;open&rdquo; for <code>DATA</code> frames.</p>
<p>The following figure, from <a href="http://shop.oreilly.com/product/0636920052326.do">Learning HTTP/2</a> shows an h2 GET request. The request is part of a stream with identifier <code>0x1</code>. The first message is an HTTP client request, comprised simply of a <code>HEADERS</code> frame. The server receives this frame and, from responds with a response message, comprised of a <code>HEADERS</code> frame followed by <code>DATA</code> frames that make up the response payload.</p>
<div>
<figure>
<div><img alt="assets/request-response-messages.png" src="https://sookocheff.com/post/networking/how-does-http-2-work/assets/request-response-messages.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-http-2-work/assets/request-response-messages.png"></a>
<figcaption>
<h4>HTTP/2 GET request and response messages.</h4>
</figcaption>
</figure>
</div>
<p>A POST request is similar, in the following figure, also from <a href="http://shop.oreilly.com/product/0636920052326.do">Learning HTTP/2</a>, the initial request from the client to server is composed of a <code>HEADERS</code> frame, followed by several <code>DATA</code> frames that make up the POST request body. The response from the server is a <code>HEADERS</code> frame, followed by multiple <code>DATA</code> frames for the response payload.</p>
<div>
<figure>
<div><img alt="assets/post-request-response-messages.png" src="https://sookocheff.com/post/networking/how-does-http-2-work/assets/post-request-response-messages.png"></div>
<a href="https://sookocheff.com/post/networking/how-does-http-2-work/assets/post-request-response-messages.png"></a>
<figcaption>
<h4>HTTP/2 POST request and response messages.</h4>
</figcaption>
</figure>
</div>
<p>Headers in h2 follow the same semantics as h1: a key with one or more values. In h1, each request is stateless and a client must send the full set of HTTP headers with each request, even if that data has already been sent on previous requests. With h2, headers are only sent once to open a stream to limit the amount of header information sent. Additionally, h2 introduces header compression to further reduce the amount of data transmitted over-the-wire.</p>
<p>The <em>HPACK</em> compression algorithm, developed alongside HTTP/2, securely compresses headers using a lookup table. For example, a client can send a <code>HEADERS</code> frame saying that the <code>cookie</code> header should have value <code>foo</code>. Before sending the frame, the client adds this information to its local lookup table and records the pointer to the appropriate values in that table. Subsequent requests to the same server that include this header value can send the pointer to the location of the header in the lookup table instead of sending the entire header. As the server receives <code>HEADERS</code> frames, it builds up a copy of the same lookup table that exists on the client. Subsequently, if the server receives a request with a <code>HEADERS</code> frame with pointers, it checks its own copy of the lookup table to retrieve the correct header value.</p>
<p>This explanation of header compression is simplified. details on HPACK are found in <a href="https://tools.ietf.org/html/rfc7541">RFC 7541</a></p>
<h2>Example: A full HTTP request/response</h2>
<p>To illustrate how h2 is used in the real world, we can work through the example of sending an HTTP request and receiving an HTTP response. First, a client and server initiate a TLS connection over TCP/IP and negotiate the use of the <code>h2</code> application protocol. Once this connection is established, HTTP messages (requests or responses) can be sent. An HTTP message (request or response) consists of:</p>
<blockquote>
<ol>
<li>
<p>one HEADERS frame (followed by zero or more CONTINUATION frames) containing the message headers,</p>
</li>
<li>
<p>zero or more DATA frames containing the payload body, and</p>
</li>
<li>
<p>optionally, one HEADERS frame, followed by zero or more CONTINUATION frames containing the trailer-part, if present.</p>
</li>
</ol>
<p><a href="https://tools.ietf.org/html/rfc7540">RFC 7540</a></p>
</blockquote>
<p>An HTTP request/response exchange fully consumes a single stream. An HTTP response is complete after the server sends &ndash; or the client receives &ndash; a frame with the END_STREAM flag set. This closes the stream, and any additional HTTP request/response exchanges take place on a new stream. This new stream shares the same TCP/IP connection.</p>
<h2>Additional Features of HTTP/2</h2>
<h3>Flow control</h3>
<p>Once you have multiple streams of data being sent over the same TCP/IP connection, you introduce the potential for contention. h2&rsquo;s <em>flow control</em> policies are used to make sure that multiple streams on the same connection do not interfere with one another. Flow control is useful for congestion control, limited bandwidth connections, or making data chunks a manageable size. It can also be used by proxies to negotiate the best throughput given the current load on the proxy.</p>
<p>In h2, the <em>receiver</em> of data advertises its flow control limit for the stream. They do this by sending a <code>WINDOW_UPDATE</code> frame on the stream that dictates how many bytes of data they want to receive. <a href="https://tools.ietf.org/html/rfc7540">RFC 7540</a> specifies that senders MUST respect the flow control limits set by the data receiver. In this manner, clients, servers, proxies, and intermediaries all set their own flow control window from the perspective of the data they are ready to receive, and each of these components respect the limits imposed by others whenever they send data.</p>
<h3>Priority</h3>
<p>It&rsquo;s possible that not all streams have the same priority. For example, when a browser opens a web page, it will open a stream to request the HTML, and then separate streams to request CSS, javascript, images, or anything else required to render the page. In some pages, the browser may make up to 100 requests for content, and the server will not know how to prioritize them. In h2, you can specify explicit stream dependencies that allow clients to weight the importance of individual streams. The server is responsible for satisfying these dependencies.</p>
<p>For example, an HTML page that is dependent on critical CSS and javascript can add those objects as dependencies of the HTML using the <code>HEADERS</code> and <code>PRIORITY</code> frames to communicate this dependency to the server. Upon receipt of this priority information, the server should send data to the client on the correct order.</p>
<h3>Server Push</h3>
<p>In addition to prioritizing streams, h2 allows a server to push data to a client that the client hasn&rsquo;t asked for yet. Returning to our example of loading a web page. If the server receives a request from a client for <code>index.html</code>, it can assume that the client will also be making requests for the CSS required to render the page. Rather than waiting for that explicit request, the server can choose to start sending the data. In an ideal scenario, when the client makes the request for the CSS, it will already be available in the client&rsquo;s cache. Server push requires that any pushed resources MUST be cacheable.</p>
<p>To push an object, the server constructs a <code>PUSH_PROMISE</code> frame, setting the stream ID. The <code>PUSH_PROMISE</code> frame also has header data that is similar to what would exist in a <code>HEADERS</code> frame. After the <code>PUSH_PROMISE</code> frame is sent, the server can send additional <code>DATA</code> frames to the client.</p>
<h2>More References</h2>
<p>This article provides an introduction to HTTP/2, and should provided a good overview for someone wanting to learn more about the protocol. If you want to learn more, there are several great resources to choose from:</p>
<ul>
<li><a href="https://tools.ietf.org/html/rfc7540">RFC 7540 - Hypertext Transfer Protocol Version 2 (HTTP/2)</a></li>
<li><a href="https://tools.ietf.org/html/rfc7541">RFC 7541 - HPACK: Header Compression for HTTP/2</a></li>
<li><a href="https://developers.google.com/web/fundamentals/performance/http2/">Introduction to HTTP/2</a></li>
<li><a href="http://shop.oreilly.com/product/0636920052326.do">Learning HTTP/2</a></li>
</ul>
<h4>See also</h4>
<ul>
<li><a href="https://sookocheff.com/post/networking/how-does-web-rtc-work/">How Does WebRTC Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-lte-work/">How Does LTE Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-wifi-work/">How Does WiFi Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/how-does-ethernet-work/">How Does Ethernet Work?</a></li>
<li><a href="https://sookocheff.com/post/networking/wireless-networks-and-shannons-law/">Wireless Networks and Shannon&rsquo;s Law</a></li>
</ul>
</article>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
via Kevin Sookocheff https://sookocheff.com<br>
<br>
December 20, 2019 at 04:44PM