消息的指纹是什么

消息的“指纹”是什么？<br>
<br>
https://ift.tt/KQGI3Vo<br>
<br>
<br>
<br>
<div><article>
<div>
<h2 data-relingo-block="true">一、为什么需要“指纹”？</h2>
<p data-relingo-block="true">在警察破案的时候，会经常接触到犯人的指纹。指纹能从生物的角度上判断它是不是某一个人。这么看来，指纹相当于一个人独一无二的东西，通过他就能找到对应唯一的一个人。</p>
<p data-relingo-block="true">在网络传输过程中，可能存在中间人。那人们就有了这样的想法：能不能找到消息的“指纹”？这样就可以知道消息是谁发送的，从而避免中间人的攻击。</p>
<h2 data-relingo-block="true">二、单向散列函数</h2>
<p data-relingo-block="true">开发者日常工作中会使用 git 命令。git diff 命令可以比对 2 次 commit，展示出两者不同的地方。那么相同的文件不会展示。那么 git diff 是如何对比两个文件的呢？如果一个文件巨大，能否有一个简单快捷的方式能判断文件是否被更改了呢？</p>
<p data-relingo-block="true">这个时候文件的“指纹”的作用就凸显出来了。从一一比对 2 个文件的每一行，到现在只需要比对文件的“指纹”信息，如果一个指纹信息就能检查文件完整性，该多么方便啊！</p>
<p data-relingo-block="true">单向散列函数就是一种采集文件“指纹”的技术。单向散列函数生成的散列值，就相当于消息的“指纹”。单向散列函数(one-way hash function)有一个输入和一个输出，其中输入成为消息(message)，输出成为散列值(hash value)。单向散列函数可以根据消息的内容计算散列值，而散列值就可以被用来检查消息的完整性。</p>
<p data-relingo-block="true">这个的消息可以是更加广义的消息，可以是图片，也可以是声音，单向散列函数并不需要关心消息实际代表的含义。在单向散列函数的眼里只有 0、1、0、1 比特流。</p>
<p data-relingo-block="true">单向散列函数计算出来的散列值的长度和消息的长短没有关系。以 SHA-256 为例，它计算出来的散列值永远都是 256 比特(32 字节)。</p>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_3.png">
</p>
<p data-relin-paragraph="42" data-relingo-block="true">单向散列函数有以下几点性质：</p>
<h3 data-relin-paragraph="43" data-relingo-block="true">1. 根据任意长度的消息计算出固定长度的散列值</h3>
<h3 data-relin-paragraph="44" data-relingo-block="true">2. 能够快速计算出散列值</h3>
<h3 data-relin-paragraph="45" data-relingo-block="true">3. 消息不同，散列值也不同</h3>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_4.png">
</p>
<p data-relin-paragraph="46" data-relingo-block="true">最后一点性质是最关键的。如果 2 个文件不同，算出的散列值却是相同的，那么单向散列函数的意义也就不存在了。实际上，两个不同的消息产生同一个散列值的情况称为**“碰撞(collision)”**。散列函数需要确保在不人为干涉的情况下，不存在碰撞的情况。密码学中所使用的单向散列函数，都需要具备抗碰撞性质。</p>
<p data-relin-paragraph="47" data-relingo-block="true">单向散列函数必须要确保<strong>要找到和该条消息具有相同散列值的另外一条消息是非常困难的</strong>，这一性质称为<strong>弱抗碰撞性</strong>，单向散列函数都必须具备弱抗碰撞性。</p>
<p data-relin-paragraph="48" data-relingo-block="true"><strong>要找到具有相同散列值但互不相同的两条消息是非常困难的</strong>，这一性质称为<strong>强抗碰撞性</strong>。这里的散列值可以是任意值。</p>
<p data-relin-paragraph="49" data-relingo-block="true">密码技术中所使用的单向散列函数，不仅要具备弱抗碰撞性，还必须具备强抗碰撞性。</p>
<blockquote>
<p data-relin-paragraph="50" data-relingo-block="true">这里的弱抗碰撞性和强抗碰撞性是相对的概念，并不是说“很弱而不具备抗碰撞性”！</p>
</blockquote>
<h3 data-relin-paragraph="51" data-relingo-block="true">4. 单向性</h3>
<p data-relin-paragraph="52" data-relingo-block="true">单向散列函数必须具备<strong>单向性</strong>，单向性指的是无法通过散列值反算出消息的性质。</p>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_5.png">
</p>
<p data-relin-paragraph="53" data-relingo-block="true">如上图所示，反算出消息的路是不通的。这也就是单向散列函数，单向两个字的来源。需要特别注意的一点是，单向散列函数并不是一种加密，所以它是无法通过解密的方法得到原消息的。</p>
<p data-relin-paragraph="54" data-relingo-block="true"><strong>单向散列函数</strong>也称为<strong>消息摘要函数(message digest function)、哈希函数、杂凑函数</strong>。输入单向函数的<strong>消息</strong>也称为<strong>原像(pre-image)</strong>。单向散列函数输出的<strong>散列值</strong>也称为<strong>消息摘要(message digest)<strong>或者</strong>指纹(fingerprint)</strong>。<strong>完整性</strong>也被称为<strong>一致性</strong>。</p>
<blockquote>
<p data-relin-paragraph="55" data-relingo-block="true">对于攻击者来说，Hash 算法的破解难度是，强抗碰撞性&lt;弱抗碰撞性&lt;单向性。</p>
</blockquote>
<h2 data-relin-paragraph="56" data-relingo-block="true">三、单向散列函数的实际应用</h2>
<ul>
<li data-relin-paragraph="57" data-relingo-block="true">检测软件是否被篡改</li>
</ul>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_6_.png">
</p>
<ul>
<li data-relin-paragraph="58" data-relingo-block="true">基于口令的加密</li>
</ul>
<p data-relin-paragraph="59" data-relingo-block="true">单向散列函数也被用于基于口令的加密(Password Based Encryption，PBE)。PBE 的原理是将口令和盐(salt，通过伪随机数生成器产生的随机值)混合后计算其散列值，然后将这个散列值用作加密的密钥。通过这样的方法能够防御针对口令的字典攻击。</p>
<ul>
<li data-relin-paragraph="60" data-relingo-block="true">消息认证码</li>
</ul>
<p data-relin-paragraph="61" data-relingo-block="true">使用单向散列函数可以构造消息认证码。消息认证码是将“发送者和接收者之间的共享密钥”和“消息”进行混合后计算出的散列值。使用消息认证码可以检测并防止通信过程中的错误，篡改以及伪装。具体应用在 SSL/TLS 中。</p>
<ul>
<li data-relin-paragraph="62" data-relingo-block="true">数字签名</li>
</ul>
<p data-relin-paragraph="63" data-relingo-block="true">数字签名中也会用到单向散列函数。数字签名一般不会对整个消息内容进行直接施加数字签名，而是先通过单向散列函数计算出消息的散列值，然后再对散列值加上数字签名。</p>
<ul>
<li data-relin-paragraph="64" data-relingo-block="true">伪随机数生成器</li>
</ul>
<p data-relin-paragraph="65" data-relingo-block="true">使用单向散列函数可以构造伪随机数生成器。为了保证不能根据过去的随机数列预测未来的随机数列，可以利用单向散列函数的单向性。</p>
<ul>
<li data-relin-paragraph="66" data-relingo-block="true">一次性口令</li>
</ul>
<p data-relin-paragraph="67" data-relingo-block="true">一次性口令经常被用于服务器对客户端合法性认证。利用单向散列函数可以保证口令只在通信链路上传送一次，因此即使窃听者窃取了口令，也无法再次使用了。</p>
<h2 data-relin-paragraph="68" data-relingo-block="true">四、单向散列函数现状</h2>
<table data-relingo-block="true">
<thead data-relingo-block="true">
<tr data-relingo-block="true">
<th data-relin-paragraph="69" data-relingo-block="true">算法</th>
<th data-relin-paragraph="70" data-relingo-block="true">比特位</th>
<th data-relin-paragraph="71" data-relingo-block="true">公布年份</th>
<th data-relin-paragraph="72" data-relingo-block="true">作者</th>
<th data-relin-paragraph="73" data-relingo-block="true">现状</th>
</tr>
</thead>
<tbody data-relingo-block="true">
<tr data-relingo-block="true">
<td data-relin-paragraph="74" data-relingo-block="true">MD4 (Message Digest 4，消息摘要 4)</td>
<td data-relin-paragraph="75" data-relingo-block="true">128 位比特(RFC 1186，修订版 RFC 1320)</td>
<td data-relin-paragraph="76" data-relingo-block="true">1990 年</td>
<td data-relin-paragraph="77" data-relingo-block="true">Rivest</td>
<td data-relin-paragraph="78" data-relingo-block="true">Dobbertin 寻找到 MD4 散列碰撞的方法，目前已经不再安全❌</td>
</tr>
<tr data-relingo-block="true">
<td data-relin-paragraph="79" data-relingo-block="true">MD5 (Message Digest 5，消息摘要 5)</td>
<td data-relin-paragraph="80" data-relingo-block="true">128 位比特(RFC 1321)</td>
<td data-relin-paragraph="81" data-relingo-block="true">1991 年</td>
<td data-relin-paragraph="82" data-relingo-block="true">Rivest</td>
<td data-relin-paragraph="83" data-relingo-block="true">2004 年王小云教授提出针对 MD5、SHA-0 等散列函数的碰撞攻击算法，故 MD5 目前已经不再安全❌</td>
</tr>
<tr data-relingo-block="true">
<td data-relin-paragraph="84" data-relingo-block="true">SHA</td>
<td data-relin-paragraph="85" data-relingo-block="true">160 比特位</td>
<td data-relin-paragraph="86" data-relingo-block="true">1993 年</td>
<td data-relin-paragraph="87" data-relingo-block="true">NIST (National Institute of Standards and Technology，美国国家标准技术研究所)</td>
<td data-relin-paragraph="88" data-relingo-block="true">发布以后很快被 NSA (National Security Agency，美国国家安全局)撤回，目前已经不安全❌</td>
</tr>
<tr data-relingo-block="true">
<td data-relin-paragraph="89" data-relingo-block="true">SHA-1</td>
<td data-relin-paragraph="90" data-relingo-block="true">160 比特位</td>
<td data-relin-paragraph="91" data-relingo-block="true">1995 年</td>
<td data-relin-paragraph="92" data-relingo-block="true">NIST (National Institute of Standards and Technology，美国国家标准技术研究所)</td>
<td data-relin-paragraph="93" data-relingo-block="true">2005 年 SHA-1 的强抗碰撞性被攻破；2017 年荷兰密码学研究小组 CWI 和 Google 正式宣布攻破了 SHA-1❌</td>
</tr>
<tr data-relingo-block="true">
<td data-relin-paragraph="94" data-relingo-block="true">RIPEMD-160</td>
<td data-relin-paragraph="95" data-relingo-block="true">160 比特</td>
<td data-relin-paragraph="96" data-relingo-block="true">1996 年</td>
<td data-relin-paragraph="97" data-relingo-block="true">欧盟 RIPE 项目中由 Hans Dobbertin、Antoon Bosselaers 和 Bart Preneel 设计</td>
<td data-relin-paragraph="98" data-relingo-block="true">RIPEMD 的强抗碰撞性于 2004 年被攻破，但是 RIPEMD-160 还尚未被攻破，目前安全✅比特币中使用的就是 RIPEMD-160</td>
</tr>
<tr data-relingo-block="true">
<td data-relin-paragraph="99" data-relingo-block="true">SHA-2</td>
<td data-relin-paragraph="100" data-relingo-block="true">SHA-224 224 位、SHA-256 256 位、SHA-384 384 位、SHA-512 512 位、SHA-512/224 224 位、SHA-512/256 256 位</td>
<td data-relin-paragraph="101" data-relingo-block="true">2001 年</td>
<td data-relin-paragraph="102" data-relingo-block="true">NIST (National Institute of Standards and Technology，美国国家标准技术研究所)</td>
<td data-relin-paragraph="103" data-relingo-block="true">目前还没有被攻破，安全✅</td>
</tr>
<tr data-relingo-block="true">
<td data-relin-paragraph="104" data-relingo-block="true">SHA-3</td>
<td data-relin-paragraph="105" data-relingo-block="true">SHA3-224 224 位、SHA3-256 256 位、SHA3-384 384 位、SHA3-512 512 位、SHAKE128 d(arbitrary)位、SHAKE256 d(arbitrary)位</td>
<td data-relin-paragraph="106" data-relingo-block="true">2015 年</td>
<td data-relin-paragraph="107" data-relingo-block="true">NIST (National Institute of Standards and Technology，美国国家标准技术研究所)</td>
<td data-relin-paragraph="108" data-relingo-block="true">目前还没有被攻破，安全✅</td>
</tr>
</tbody>
</table>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_7.png">
</p>
<p data-relin-paragraph="109" data-relingo-block="true"><strong>注意：Hash 算法输出值长度和运算性能没有必然联系。举例：运算的数据块越大，sha384 算法的性能比 sha256 算法性能高。这一点务必要注意！</strong></p>
<h2 data-relin-paragraph="110" data-relingo-block="true">五、Keccak 算法</h2>
<p data-relin-paragraph="111" data-relingo-block="true">2007年，NIST 开始了 SHA-3 的公开征集，截止到 2008 年共征集到了 64 个算法。<br>
2010年，SHA-3 最终候选名单出炉，其中包括 5 个算法。<br>
2012年，经过长达 5 年的选拔，最终将 Guido Bertoni、Joan Daemen、Michaël Peeters 和 Gilles Van Assche 共同设计的 Keccak 算法被确定为 SHA-3 标准。其中 Joan Daemen 也是对称密码算法 AES 的设计者之一。</p>
<p data-relin-paragraph="112" data-relingo-block="true">Keccak 最终被选为 SHA-3 的理由如下：</p>
<ul>
<li data-relin-paragraph="113" data-relingo-block="true">采用了与 SHA-2 完全不同的结构</li>
<li data-relin-paragraph="114" data-relingo-block="true">结构清晰，易于分析</li>
<li data-relin-paragraph="115" data-relingo-block="true">能够适用于各种设备，也适用于嵌入式应用</li>
<li data-relin-paragraph="116" data-relingo-block="true">在硬件上的实现显示了很高的性能</li>
<li data-relin-paragraph="117" data-relingo-block="true">比其他最终候选算法安全性边际更大</li>
</ul>
<p data-relin-paragraph="118" data-relingo-block="true">Keccak 可以生成任意长度的散列值，但是为了配合 SHA-2 的散列值长度，SHA-3 标准中规定了 4 个版本兼容 SHA-2。在输入数据的长度上限方面，SHA-1 为 2^64 - 1 比特，SHA-2 为 2^128 - 1 比特，而 SHA-3 没有限制。</p>
<p data-relin-paragraph="119" data-relingo-block="true">SHA-3 中另外两个 SHAKE 的函数，是支持输出任意长度散列值的。分别为 SHAKE128 和 SHAKE256 。SHAKE 这个名字 取自 Secure Hash Algorithm 与 Keccak 这几个单词。</p>
<p data-relin-paragraph="120" data-relingo-block="true">Keccak 采用了和 SHA-1、SHA-2 完全不同的<strong>海绵结构(sponge construction)</strong></p>
<h3 data-relin-paragraph="121" data-relingo-block="true">1. 海绵结构</h3>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_8.png">
</p>
<p data-relin-paragraph="122" data-relingo-block="true">上图就是海绵结构，整个计算过程分为 2 步。第一步是<strong>吸收阶段(absorbing phase)</strong>，第二步是**(squeezing phase)**。</p>
<p data-relin-paragraph="123" data-relingo-block="true">第一步，吸收阶段：</p>
<ul>
<li data-relin-paragraph="124" data-relingo-block="true">将经过填充的输入消息按照每 r 个比特为一组分割成若干个输入分组。</li>
<li data-relin-paragraph="125" data-relingo-block="true">首先，将 “内部状态的 r 个比特” 与 “输入分组 1” 进行 XOR，将其结果作为 “函数 f 的输入值”</li>
<li data-relin-paragraph="126" data-relingo-block="true">然后，将“函数 f 的输出值 r 个比特” 与 “输入分组 2” 进行 XOR，将其结果再次作为 “函数 f 的输入值”。</li>
<li data-relin-paragraph="127" data-relingo-block="true">反复执行上述步骤，直到到达最后一个分组。</li>
<li data-relin-paragraph="128" data-relingo-block="true">待所有输入分组处理完成以后，结束吸收阶段，进入挤出阶段。</li>
</ul>
<p data-relin-paragraph="129" data-relingo-block="true">吸收阶段中，最初的内部状态是 b = r + c 个比特 0 。每次吸收 r 个比特的输入分组，与 r 个比特的内部状态位进行 XOR。内部状态 c 个比特不受输入分组的影响，但会受到函数 f 间接影响。r 称为<strong>比特率</strong>，c 称为<strong>容量</strong>。吸收完成以后，输出结果还是 b 个比特。</p>
<p data-relin-paragraph="130" data-relingo-block="true">第二步，挤出阶段：</p>
<ul>
<li data-relin-paragraph="131" data-relingo-block="true">首先，将 “函数 f 的输出值中的 r 个比特” 保存为 “输出分组 1”，并将整个输出值 (r+c) 个比特再次输入到函数 f 中。</li>
<li data-relin-paragraph="132" data-relingo-block="true">然后，将 “函数 f 的输出值中的 r 个比特” 保存为 “输出分组 2”，并将整个输出值 (r+c) 个比特再次输入到函数 f 中。</li>
<li data-relin-paragraph="133" data-relingo-block="true">反复执行上述步骤，直到获得所需长度的输出数据。</li>
</ul>
<p data-relin-paragraph="134" data-relingo-block="true"><strong>无论是吸收状态还是挤出状态，函数 f 的逻辑是完全相同的</strong>。每执行一次函数 f，海绵结构的内部状态就会被搅拌一次。</p>
<p data-relin-paragraph="135" data-relingo-block="true">挤出阶段执行的操作实际是 “对内部状态进行搅拌并产生输出分组 (r 个比特)” 的操作。以 r 个比特为单位，将海绵结构的内部状态中的数据一点点“挤”出来。</p>
<p data-relin-paragraph="136" data-relingo-block="true">同样，在挤出阶段，内部状态中的 c 个比特是不会直接进入到输出分组中，这部分数据只会通过函数 f 间接影响输出的内容。因此，<strong>容量 c 的意义在于防止将输入消息中的一些特征泄露出去</strong>。</p>
<h3 data-relin-paragraph="137" data-relingo-block="true">2. 双工结构</h3>
<p data-relin-paragraph="138" data-relingo-block="true">海绵结构有一个弊端，那就是必须要等吸收阶段吸收完成以后才能开始挤出阶段。于是 Keccak 对海绵结构进行了改进。提出了双工结构。如下图：</p>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_9.png">
</p>
<p data-relin-paragraph="139" data-relingo-block="true">在双工结构中，输入和输出是以相同的速率进行的。在双向通信中，发送和接收同时进行的方式成为全双工(full duplex)。通过采用双工结构，Keccak 不仅可以用于计算散列值，还可以用来作为伪随机数生成器、流密码、认证加密、消息认证码等等。</p>
<h2 data-relin-paragraph="140" data-relingo-block="true">六、Keccak 的内部状态</h2>
<p data-relin-paragraph="141" data-relingo-block="true">上一章节中，我们知道 Keccak 内部状态是有 b = r + c 个比特。这一章节我们深入研究一下内部状态是如何工作的。</p>
<p data-relin-paragraph="142" data-relingo-block="true">Keccak 的内部状态是一个三维的比特数组。b 个小方块按照 5 * 5 * z 的方式组合起来，就成为一个沿 z 轴延伸的立方体。将具备 x、y、z 三个维度的内部状态整体称为 state，state 共有 b 个比特。</p>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_10.png">
</p>
<p data-relin-paragraph="143" data-relingo-block="true">xz 平面称为 plane，xy 平面称为 slice，yz 平面称为 sheet。x 轴称为 row，y 轴称为 column，z 轴称为 lane。</p>
<p data-relin-paragraph="144" data-relingo-block="true">整个 state 可以看出是 5 * 5 = 25 条 lane 组成的。也可以看成是 lane 长度的 slice 堆叠而成的。</p>
<p data-relin-paragraph="145" data-relingo-block="true"><strong>Keccak 的实质就是实现一个能够将上述结构的 state 进行有效搅拌的函数 f</strong>。由于内部状态可以代表整个处理过程中的全部中间状态，因此有利于节约内存。Keccak 用到了很多比特单位的运算，因此可以有效抵御针对字节单位的攻击。</p>
<h3 data-relin-paragraph="146" data-relingo-block="true">1. 函数 Keccak-f[b]</h3>
<p data-relin-paragraph="147" data-relingo-block="true">Keccak 中的内部函数实际上叫做 Keccak-f[b] 。参数 b 就是内部状态的总比特长度，这里称为<strong>宽度</strong>。根据设计规格，b 可以取 25(5 * 5 * 2^0)、50(5 * 5 * 2^1)、100(5 * 5 * 2^2)、200(5 * 5 * 2^3)、400(5 * 5 * 2^4)、800(5 * 5 * 2^5)、1600(5 * 5 * 2^6) 总共 7 种值。SHA-3 采用的是其中的最大宽度，即 b = 1600 。之所以都是 25 的倍数，是因为一个 slice 是 25 个 比特。b / 25 = slice 的片数 = lane 的长度。</p>
<p data-relin-paragraph="148" data-relingo-block="true">在 Keccak 中，通过改变宽度 b 就可以改变内部状态的比特长度。但无论如何改变，slice 的大小依然是 5 * 5，改变的只有 lane 的长度而已。因此 Keccak 的宽度变化不影响其基本结构，这种结构也被称为<strong>套娃结构</strong>。</p>
<p data-relin-paragraph="149" data-relingo-block="true">Keccak-f[b] 中每一轮包含 5 个步骤：θ(西塔)，ρ(柔)，π(派)，χ(凯)，τ(伊欧塔)，总共循环 12 + 2ι 轮。(定义 2^ι = b / 25)。SHA-3 使用的是 Keccak-f[1600] 函数，b = 1600，ι = 6，故总共循环 12 + 2 * 6 = 24 轮。</p>
<h3 data-relin-paragraph="150" data-relingo-block="true">2. 步骤 θ</h3>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_11_.png">
</p>
<p data-relin-paragraph="151" data-relingo-block="true">这一步的操作是将位置不同的两个 column 中各自 5 个比特通过 XOR 运算加起来，然后再与置换目标比特求 XOR 并覆盖掉目标比特。</p>
<h3 data-relin-paragraph="152" data-relingo-block="true">3. 步骤 ρ</h3>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_12.png">
</p>
<p data-relin-paragraph="153" data-relingo-block="true">这一步的操作是沿 z 轴方向进行比特平移。</p>
<h3 data-relin-paragraph="154" data-relingo-block="true">4. 步骤 π</h3>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_13.png">
</p>
<p data-relin-paragraph="155" data-relingo-block="true">上图中展示的对其中 1 片 slice 进行步骤 π 的操作，实际上整条 lane 上的所有 slice 都会被执行同样的比特移动操作。</p>
<h3 data-relin-paragraph="156" data-relingo-block="true">5. 步骤 χ</h3>
<p align="center" data-relingo-block="true">
<img src="https://img.halfrost.com/Blog/ArticleImage/102_14_.png">
</p>
<p data-relin-paragraph="157" data-relingo-block="true">上图中展示的对其中 1 个 row 进行步骤 χ 的操作，图中有逻辑电路的符号，倒三角是逻辑取反 NOT 操作，倒字母 D 是逻辑与，AND 操作。</p>
<h3 data-relin-paragraph="158" data-relingo-block="true">6. 步骤 τ</h3>
<p data-relin-paragraph="159" data-relingo-block="true">这一步是用一个固定的轮常数对整个 state 的所有比特进行 XOR 运算，目的是让内部状态具备费对称性。</p>
<p data-relin-paragraph="160" data-relingo-block="true">以上 5 步，除了步骤 θ 中的奇偶性处理以及步骤 χ 中的 NOT 和 AND 以外，其余的操作仅通过硬件电路就都可以实现。</p>
<h3 data-relin-paragraph="161" data-relingo-block="true">7. 对 Keccak 的攻击</h3>
<p data-relin-paragraph="162" data-relingo-block="true">Keccak 之前的所有单向散列函数都是通过循环执行压缩函数的方式生成散列值的，例如 MD4、MD5、RIPEMD、RIPEMD-160、SHA-1、SHA-2 等几乎所有的传统单向散列值函数算法都是基于 MD (Merkle-Damgard construction) 结构的。</p>
<p data-relin-paragraph="163" data-relingo-block="true">为了方式 SHA-3 会被 MD 结构的影响，所以 SHA-3 在设计之初就放弃了 MD 结构。采用了完全不同的海绵结构。因为针对 SHA-1 的攻击方法对 SHA-3 是无效的。</p>
<p data-relin-paragraph="164" data-relingo-block="true">到目前为止还没有出现能够对实际运用中的 Keccak 算法形成威胁的攻击方法。</p>
<h2 data-relin-paragraph="165" data-relingo-block="true">七、对单向散列函数的攻击</h2>
<h3 data-relin-paragraph="166" data-relingo-block="true">1. 暴力破解</h3>
<p data-relin-paragraph="167" data-relingo-block="true">利用文件的冗余性，暴力修改文件，每次都稍微改变一下消息的值，对这些消息求散列值，一旦有一个散列值和之前的散列值一样，就算暴力破解成功。这相当于是一种试图破解单向散列函数的“弱抗碰撞性”的攻击。</p>
<p data-relin-paragraph="168" data-relingo-block="true">找出具有指定散列值的消息的攻击分为两种：**原像攻击(Pre-Image Attack)**是指给定一个散列值，找出具有该散列值的任意消息；**第二原像攻击(Second Pre-Image Attack)**是指定给一条消息 1，找出另外一个消息 2，消息 2 的散列值和消息 1 相同。</p>
<h3 data-relin-paragraph="169" data-relingo-block="true">2. 生日攻击</h3>
<p data-relin-paragraph="170" data-relingo-block="true">生日攻击(birthday attack)或者冲突攻击(collision attack)不是寻找生成特定散列值的消息，而是要找到散列值相同的 2 条消息，散列值可以是任意值。这种试图破解单向散列函数的“强抗碰撞性”的攻击。</p>
<p data-relin-paragraph="171" data-relingo-block="true">生日攻击的原理来自生日悖论，也就是利用了“任意散列值一致的概率比想象中要高”这样的特性。以 512 比特的散列值为例，对单向散列函数进行暴力破解所需要的尝试次数为 2^512 次，而对同一单向散列函数进行生日攻击所需的尝试次数为 2^256 次，因此和暴力破解相比，生日攻击所需的尝试次数要少得多。</p>
<p data-relin-paragraph="172" data-relingo-block="true">2005 年王小云教授团队提出的碰撞攻击方法中，对于 SHA-1 所需要的尝试次数为 2^69 次，已大大少于生日攻击所需要的 2^80 次，同年王小云教授团队尤改进了该方法，使尝试次数再次减少到 2^63 次。</p>
<h2 data-relin-paragraph="173" data-relingo-block="true">八、单向散列函数无法解决的问题</h2>
<p data-relin-paragraph="174" data-relingo-block="true">单向散列函数能够辨别出“篡改”，但是无法辨别出“伪装”。对于一条消息不仅需要确认消息的完整性，还需要确认这个消息发自与谁。这仅仅靠完整性检查是不够的，还需要进行<strong>消息认证</strong>。认证的技术包括<strong>消息验证码</strong>和<strong>数字签名</strong>。</p>
<p data-relin-paragraph="175" data-relingo-block="true">消息验证码能够向通信对象保证消息没有被篡改。数字签名不仅能够向通信对象保证消息没有篡改，还能够向所有第三方做出这样的保证。</p>
<hr data-relingo-block="true">
<p data-relin-paragraph="176" data-relingo-block="true">Reference：</p>
<p data-relin-paragraph="177" data-relingo-block="true">《图解密码技术》<br>
<a href="https://en.wikipedia.org/wiki/SHA-3">SHA-3 wikipedia</a></p>
<blockquote>
<p data-eusoft-scrollable-element="1" data-relin-paragraph="178" data-relingo-block="true">GitHub Repo：<a href="HTTPS://github.com/halfrost/Halfrost-Field">Halfrost-Field</a></p>
<p data-eusoft-scrollable-element="1" data-relin-paragraph="179" data-relingo-block="true">Follow: <a href="HTTPS://github.com/halfrost">halfrost · GitHub</a></p>
<p data-eusoft-scrollable-element="1" data-relin-paragraph="180" data-relingo-block="true">Source: <a href="https://halfrost.com/one_way_hash/">https://halfrost.com/one_way_hash/</a></p>
</blockquote>

<img src="https://img.halfrost.com/wechat-qr-code.png">
</div>
</article></div><br>
<br>
<br>
<br>
<br>
<br>
via Halfrost's Field | 冰霜之地 https://halfrost.com<br>
<br>
October 11, 2025 at 10:06AM